.ab-icon.ab-icon-fw {
	&:before {
		//content: '\f108';
		top: 2px;
		.ab-submenu & {
			//content: '\f322';
			color: inherit !important;
		}

	}
	.ab-submenu & {
		font-size: inherit !important;
	}
}
