
@cascade-base-delay: 100ms;
@cascade-item-gap: 60ms;
@cascade-item-gap-quick: 15ms;
html:not(.no-cssanimations) {
	
	.will-cascade:not(.cascade) {
		& > *:not(.ignore-cascade) {
			visibility: hidden;
		}
	}

	.cascade {
		&.waiting-for-cascade {
			& > *:not(.ignore-cascade) {
				visibility: hidden;
			}
		}
	}

	.cascade, .cascade-quick {
		& > * {
			will-change: opacity, left, transform;
			-webkit-backface-visibility: hidden;
		}
	}

	.cascade:not(.waiting-for-cascade) {
		& > *:not(.ignore-cascade) {			

			// opacity: 0;

			animation-name: fw-fade-right;
			animation-duration: 1.6s;
			animation-iteration-count: 1;
			animation-fill-mode: backwards;

			-webkit-backface-visibility: hidden;


			&:not(.ignore-cascade-delay) {
				&:nth-child(1) {  animation-delay: @cascade-base-delay + @cascade-item-gap * 0; }
				&:nth-child(2) {  animation-delay: @cascade-base-delay + @cascade-item-gap * 1; }
				&:nth-child(3) {  animation-delay: @cascade-base-delay + @cascade-item-gap * 2; }
				&:nth-child(4) {  animation-delay: @cascade-base-delay + @cascade-item-gap * 3; }
				&:nth-child(5) {  animation-delay: @cascade-base-delay + @cascade-item-gap * 4; }
				&:nth-child(6) {  animation-delay: @cascade-base-delay + @cascade-item-gap * 5; }
				&:nth-child(7) {  animation-delay: @cascade-base-delay + @cascade-item-gap * 6; }
				&:nth-child(8) {  animation-delay: @cascade-base-delay + @cascade-item-gap * 7; }
				&:nth-child(9) {  animation-delay: @cascade-base-delay + @cascade-item-gap * 8; }
				&:nth-child(10) {  animation-delay: @cascade-base-delay + @cascade-item-gap * 9; }
				&:nth-child(11) {  animation-delay: @cascade-base-delay + @cascade-item-gap * 10; }
				&:nth-child(12) {  animation-delay: @cascade-base-delay + @cascade-item-gap * 11; }
				&:nth-child(13) {  animation-delay: @cascade-base-delay + @cascade-item-gap * 12; }
				&:nth-child(14) {  animation-delay: @cascade-base-delay + @cascade-item-gap * 13; }
				&:nth-child(15) {  animation-delay: @cascade-base-delay + @cascade-item-gap * 14; }
				&:nth-child(16) {  animation-delay: @cascade-base-delay + @cascade-item-gap * 15; }
				&:nth-child(17) {  animation-delay: @cascade-base-delay + @cascade-item-gap * 16; }
				&:nth-child(18) {  animation-delay: @cascade-base-delay + @cascade-item-gap * 17; }
				&:nth-child(19) {  animation-delay: @cascade-base-delay + @cascade-item-gap * 18; }
				&:nth-child(20) {  animation-delay: @cascade-base-delay + @cascade-item-gap * 19; }
				&:nth-child(21) {  animation-delay: @cascade-base-delay + @cascade-item-gap * 20; }
				&:nth-child(22) {  animation-delay: @cascade-base-delay + @cascade-item-gap * 21; }
				&:nth-child(23) {  animation-delay: @cascade-base-delay + @cascade-item-gap * 22; }
				&:nth-child(24) {  animation-delay: @cascade-base-delay + @cascade-item-gap * 23; }
				&:nth-child(25) {  animation-delay: @cascade-base-delay + @cascade-item-gap * 24; }
				&:nth-child(26) {  animation-delay: @cascade-base-delay + @cascade-item-gap * 25; }
				&:nth-child(27) {  animation-delay: @cascade-base-delay + @cascade-item-gap * 26; }
				&:nth-child(28) {  animation-delay: @cascade-base-delay + @cascade-item-gap * 27; }
				&:nth-child(29) {  animation-delay: @cascade-base-delay + @cascade-item-gap * 28; }
				&:nth-child(30) {  animation-delay: @cascade-base-delay + @cascade-item-gap * 29; }
			}


		}
	}

	.cascade-quick:not(.waiting-cascade) {
		& > *:not(.ignore-cascade) {

			// opacity: 0;

			animation-name: fw-fade-right;
			animation-duration: 1.6s;
			animation-iteration-count: 1;
			animation-fill-mode: backwards;

			-webkit-backface-visibility: hidden;

			&:not(.ignore-cascade-delay) {
				&:nth-child(1) {  animation-delay: @cascade-base-delay + @cascade-item-gap-quick * 0; }
				&:nth-child(2) {  animation-delay: @cascade-base-delay + @cascade-item-gap-quick * 1; }
				&:nth-child(3) {  animation-delay: @cascade-base-delay + @cascade-item-gap-quick * 2; }
				&:nth-child(4) {  animation-delay: @cascade-base-delay + @cascade-item-gap-quick * 3; }
				&:nth-child(5) {  animation-delay: @cascade-base-delay + @cascade-item-gap-quick * 4; }
				&:nth-child(6) {  animation-delay: @cascade-base-delay + @cascade-item-gap-quick * 5; }
				&:nth-child(7) {  animation-delay: @cascade-base-delay + @cascade-item-gap-quick * 6; }
				&:nth-child(8) {  animation-delay: @cascade-base-delay + @cascade-item-gap-quick * 7; }
				&:nth-child(9) {  animation-delay: @cascade-base-delay + @cascade-item-gap-quick * 8; }
				&:nth-child(10) {  animation-delay: @cascade-base-delay + @cascade-item-gap-quick * 9; }
				&:nth-child(11) {  animation-delay: @cascade-base-delay + @cascade-item-gap-quick * 10; }
				&:nth-child(12) {  animation-delay: @cascade-base-delay + @cascade-item-gap-quick * 11; }
				&:nth-child(13) {  animation-delay: @cascade-base-delay + @cascade-item-gap-quick * 12; }
				&:nth-child(14) {  animation-delay: @cascade-base-delay + @cascade-item-gap-quick * 13; }
				&:nth-child(15) {  animation-delay: @cascade-base-delay + @cascade-item-gap-quick * 14; }
				&:nth-child(16) {  animation-delay: @cascade-base-delay + @cascade-item-gap-quick * 15; }
				&:nth-child(17) {  animation-delay: @cascade-base-delay + @cascade-item-gap-quick * 16; }
				&:nth-child(18) {  animation-delay: @cascade-base-delay + @cascade-item-gap-quick * 17; }
				&:nth-child(19) {  animation-delay: @cascade-base-delay + @cascade-item-gap-quick * 18; }
				&:nth-child(20) {  animation-delay: @cascade-base-delay + @cascade-item-gap-quick * 19; }
				&:nth-child(21) {  animation-delay: @cascade-base-delay + @cascade-item-gap-quick * 20; }
				&:nth-child(22) {  animation-delay: @cascade-base-delay + @cascade-item-gap-quick * 21; }
				&:nth-child(23) {  animation-delay: @cascade-base-delay + @cascade-item-gap-quick * 22; }
				&:nth-child(24) {  animation-delay: @cascade-base-delay + @cascade-item-gap-quick * 23; }
				&:nth-child(25) {  animation-delay: @cascade-base-delay + @cascade-item-gap-quick * 24; }
				&:nth-child(26) {  animation-delay: @cascade-base-delay + @cascade-item-gap-quick * 25; }
				&:nth-child(27) {  animation-delay: @cascade-base-delay + @cascade-item-gap-quick * 26; }
				&:nth-child(28) {  animation-delay: @cascade-base-delay + @cascade-item-gap-quick * 27; }
				&:nth-child(29) {  animation-delay: @cascade-base-delay + @cascade-item-gap-quick * 28; }
				&:nth-child(30) {  animation-delay: @cascade-base-delay + @cascade-item-gap-quick * 29; }
			}


		}
	}	

	.fade-right {
		animation-name: fw-fade-right;
		animation-duration: 1.6s;
		animation-iteration-count: 1;
		animation-fill-mode: backwards;
	}

	.fade-in {
		animation-name: fw-fade-in;
		animation-duration: 1.6s;
		animation-iteration-count: 1;
		animation-fill-mode: backwards;
	}

	.fade-in-quick {
		animation-name: fw-fade-in;
		animation-duration: 0.6s;
		animation-iteration-count: 1;
		animation-fill-mode: backwards;
	}

	.zoom-in {
		animation-name: fw-zoom-fade-in;
		animation-duration: 1.6s;
		animation-iteration-count: 1;
		animation-fill-mode: backwards;
	}
}

.animating(@prop: all) {
	.transition(0.55s @prop @metro-easing);
}

.slow-animating(@prop: all) {
	.transition(1s @prop @metro-easing);
}

.slower-animating(@prop: all) {
	.transition(2s @prop @metro-easing);
}

.sharp-animating(@prop: all) {
	.transition(1.55s @prop @sharp-easing);
}

.is-animating:not(.is-not-animating) {
	.animating();
}

.animating {
	.animating();
}



@keyframes fw-fade-right {
	0% {
		.translate(100px, 0);

		opacity: 0;
		animation-timing-function: @sharp-easing;
	}

	100% {
		.translate(0,0);

		opacity: 1;
		animation-timing-function: @sharp-easing;
	}
}

@keyframes enter-animation-left {
	0% {
		.translate(-100px, 0);

		opacity: 0;
		animation-timing-function: @sharp-easing;
	}

	100% {
		.translate(0,0);

		opacity: 1;
		animation-timing-function: @sharp-easing;
	}
}



@keyframes fw-fade-in {
	0% {
		opacity: 0;
		animation-timing-function: @sharp-easing;
	}

	100% {
		opacity: 1;
		animation-timing-function: @sharp-easing;
	}
}



@keyframes fw-zoom-fade-in {
	0% {
		opacity: 0;
		.scale(0.7,0.7);
		animation-timing-function: @sharp-easing;
	}

	100% {
		opacity: 1;
		.scale(1,1);
		animation-timing-function: @sharp-easing;
	}
}
