.d-b {
	display: block !important;
}
.d-ib {
	display: inline-block !important;
}
.d-i {
	display: inline !important;
}
.d-t {
	display: table !important;
}
.d-tc {
	display: table-cell !important;
}
.c-p {
	cursor: pointer !important;
}
.c-b {
	clear:both !important;
}
.o-v {
	overflow: visible !important;
}
.o-h {
	overflow: hidden !important;
}
.o-s {
	overflow: scroll !important;
}
.f-n {
	float: none !important;
}
.f-r {
	float: right !important;
}
.f-l {
	float: left !important;
}
.p-r {
	position: relative !important;
}
.p-a {
	position: absolute !important;  
}
.p-f {
	position: fixed !important;  
}
.p-s {
	position: static !important;
}
.d-n {
	display: none !important;
}
.circle {
	border-radius: 50%;
	display: inline-block;
	text-align: center;
}
.square {
	height: 0;
	padding-bottom: 100%;
}
.hd-square {
	height: 0;
	padding-bottom: 62,5%;
}
.bg-cover {
	background-size: cover !important;
}
.bg-contain {
	background-size: contain !important;
}
.no-bg {
	background: none !important;
}
.va-t {
	vertical-align: top  !important;
}
.va-b {
	vertical-align: bottom  !important;
}
.va-m {
	vertical-align: middle  !important;
}
.v-h {
	visibility: hidden  !important;
}
.v-v {
	visibility: visible  !important;
}
.ellipsis {
	overflow: hidden  !important;
	text-overflow: ellipsis  !important;
}
.abs-full {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	left: 0 !important;
	bottom: 0 !important;
}
.m-a {
	margin: auto !important;
}
.bg-fill {
	background-size: cover !important;
	background-position: center !important;
}
.bg-fixed {
	background-position: center !important;
	background-attachment: fixed !important;
}
.ls-n {
	list-style: none !important;
	padding-left: 0 !important;
}
.ws-n {
	white-space: normal !important;
}
.ws-nw {
	white-space: nowrap !important;
}
.ws-p {
	white-space: pre !important;
}
.bold {
	font-weight: 900 !important;
}
.light {
	font-weight: lighter !important;
}
.italic {
	font-style: italic !important;
}
.no-underline {
	&, &:hover {
		text-decoration: none !important;
	}
}
.secondary {
	opacity: 0.8 !important;
}
.tertiary {
	opacity: 0.4 !important;
}
.no-color {
	color: inherit !important;
}
.upper {
	text-transform: uppercase !important;
}
.lower {
	text-transform: lowercase !important;
}
.capital {
	text-transform: capitalize !important;
}
.clearfix:after {
	content:"";
	display:table;
	clear:both;
}
.fs-i {
	font-size: inherit;
}
.plain-list {
	list-style: none;
	padding: 0;	
}
.inline-list {
	li {
		display: inline-block;
	}
}
.full-width {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
}
.w-a {
	width: auto !important;
}
.bottom-right {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.bottom-left {
	position: absolute;
	bottom: 5px;
	left: 5px;
}

.top-right {
	position: absolute;
	top: 5px;
	right: 5px;
}

.top-left {
	position: absolute;
	top: 5px;
	left: 5px;
}

.abs-center-outside {
	display: table;
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
	.abs-center-inside {
		display: table-cell;
		vertical-align: middle;
	}
}


.no-appearance {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	border: 0;
	color: inherit;
	background: transparent;
	outline: none;
}


