.fw-modal-container {
	position: fixed;
	background: rgba(0, 0, 0, 0.8);
	padding: 20px;
	
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999999;
	.fw-modal {
		padding: 20px;
		background: #fff;
		margin: 40px auto;
		max-width: 1000px;
		position: absolute;
		top: 0;
		left: 10px;
		right: 10px;
		bottom: 0;
		overflow-y: auto;
		.fw-modal-title {
			font-weight: bold;
			font-size: 14px;
			margin-bottom: 20px;
		}

		.fw-modal-close-btn {
			&:before {
				content: '\f158';
				font: 400 20px/1 dashicons;
				speak: none;
				vertical-align: middle;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
			
			position: absolute;
			text-decoration: none;
			top: 10px;
			right: 10px;
			width: 30px;
			height: 30px;
			z-index: 1000;
			line-height: 30px;
			text-align: center;

			cursor: pointer;

			&:hover {
				color: #2ea2cc;
			}

			&:active {
				color: darken(#2ea2cc, 10%);
			}
		}
	}
}

[fw-ajax-page] {
	transition: 0.2s opacity ease-out;
	&[page-loading] {
		opacity: 0;
	}
}

.fw-loader {
  width: 40px;
  height: 40px;
  background-color: #333;

  vertical-align: middle;

  display: inline-block;

  border-radius: 100%;  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;

  &.fw-loader-center {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	margin-top: -20px;
  	margin-left: -20px;
  }

  &.fw-loader-inline {
  	width: 1em;
  	height: 1em;
  	margin-left: 0.2em;
  	margin-right: 0.2em;
  }
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}