.push-effect {
	&:active {
		.scale(0.98, 0.98);
	}
}

.not-selectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	cursor: default;
}

.hover-outline {
	outline-offset: 3px;
	&:hover {
		outline: 2px solid @neutralizer-less-less;
		
	}
	&:active {
		outline: 2px solid @neutralizer-less;
	}
}

.focus-outline {
	&:focus {
		outline: 1px dotted;
		outline-offset: 2px;
	}
}

.focus-outline-less {
	&:focus {
		outline: 1px dotted @neutralizer-less-less-less;
		outline-offset: 2px;
	}
}