@fw-spacing-grid-base : 10px;

.fullwidth {
	width: 100%;
}
.fullwidth-imgs img {
	width: 100%;
	height: auto;
}

.no-padding-v {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.no-pad {
	padding: 0 !important;
}
.xs-pad {
	padding: @fw-spacing-grid-base / 2 !important;
}
.s-pad {
	padding: 1 * @fw-spacing-grid-base !important;
}
.m-pad {
	padding: 2 * @fw-spacing-grid-base !important;
}



.clear-mg {
	margin-top: 0;
	margin-bottom: 0;
	& > *:first-child {
		margin-top: 0 !important;
	}
	& > *:last-child {
		margin-bottom: 0 !important;
	}
}

.no-mg {
	margin: 0 !important;
}

.no-mg-b {
	margin-bottom: 0;
}
.xs-mg-b {
	margin-bottom: 1 * @fw-spacing-grid-base / 2 !important;
}
.s-mg-b {
	margin-bottom: 1 * @fw-spacing-grid-base !important;
}
.m-mg-b {
	margin-bottom: 2 * @fw-spacing-grid-base !important;
}
.l-mg-b {
	margin-bottom: 4 * @fw-spacing-grid-base !important;
}
.xl-mg-b {
	margin-bottom: 8 * @fw-spacing-grid-base !important;
}
.xxl-mg-b {
	margin-bottom: 16 * @fw-spacing-grid-base !important;
}

.no-mg-t {
	margin-top: 0;
}
.xs-mg-t {
	margin-top: 1 * @fw-spacing-grid-base / 2 !important;
}
.s-mg-t {
	margin-top: 1 * @fw-spacing-grid-base !important;
}
.m-mg-t {
	margin-top: 2 * @fw-spacing-grid-base !important;
}
.l-mg-t {
	margin-top: 4 * @fw-spacing-grid-base !important;
}
.xl-mg-t {
	margin-top: 8 * @fw-spacing-grid-base !important;
}
.xxl-mg-t {
	margin-top: 16 * @fw-spacing-grid-base !important;
}

.no-mg-l {
	margin-left: 0;
}
.xs-mg-l {
	margin-left: 1 * @fw-spacing-grid-base / 2 !important;
}
.s-mg-l {
	margin-left: 1 * @fw-spacing-grid-base !important;
}
.m-mg-l {
	margin-left: 2 * @fw-spacing-grid-base !important;
}
.l-mg-l {
	margin-left: 4 * @fw-spacing-grid-base !important;
}
.xl-mg-l {
	margin-left: 8 * @fw-spacing-grid-base !important;
}
.xxl-mg-l {
	margin-left: 16 * @fw-spacing-grid-base !important;
}

.no-mg-r {
	margin-right: 0;
}
.xs-mg-r {
	margin-right: 1 * @fw-spacing-grid-base / 2 !important;
}
.s-mg-r {
	margin-right: 1 * @fw-spacing-grid-base !important;
}
.m-mg-r {
	margin-right: 2 * @fw-spacing-grid-base !important;
}
.l-mg-r {
	margin-right: 4 * @fw-spacing-grid-base !important;
}
.xl-mg-r {
	margin-right: 8 * @fw-spacing-grid-base !important;
}
.xxl-mg-r {
	margin-right: 16 * @fw-spacing-grid-base !important;
}

.xs-pad {
	padding: @fw-spacing-grid-base / 2 !important;
}
.s-pad {
	padding: 1 * @fw-spacing-grid-base !important;
}
.m-pad {
	padding: 2 * @fw-spacing-grid-base !important;
}
.l-pad {
	padding: 4 * @fw-spacing-grid-base !important;
}
.xl-pad {
	padding: 8 * @fw-spacing-grid-base !important;
}

.xs-mg {
	margin: @fw-spacing-grid-base / 2 !important;
}
.s-mg {
	margin: 1 * @fw-spacing-grid-base !important;
}
.m-mg {
	margin: 2 * @fw-spacing-grid-base !important;
}
.l-mg {
	margin: 4 * @fw-spacing-grid-base !important;
}
.xl-mg {
	margin: 8 * @fw-spacing-grid-base !important;
}

.xs-pad-v {
	padding-top: @fw-spacing-grid-base / 2 !important;
	padding-bottom: @fw-spacing-grid-base / 2 !important;
}
.s-pad-v {
	padding-top: 1 * @fw-spacing-grid-base !important;
	padding-bottom: 1 * @fw-spacing-grid-base !important;
}
.m-pad-v {
	padding-top: 2 * @fw-spacing-grid-base !important;
	padding-bottom: 2 * @fw-spacing-grid-base !important;
}
.l-pad-v {
	padding-top: 4 * @fw-spacing-grid-base !important;
	padding-bottom: 4 * @fw-spacing-grid-base !important;
}
.xl-pad-v {
	padding-top: 8 * @fw-spacing-grid-base !important;
	padding-bottom: 8 * @fw-spacing-grid-base !important;
}

.xs-mg-v {
	margin-top: @fw-spacing-grid-base / 2 !important;
	margin-bottom: @fw-spacing-grid-base / 2 !important;
}
.s-mg-v {
	margin-top: 1 * @fw-spacing-grid-base !important;
	margin-bottom: 1 * @fw-spacing-grid-base !important;
}
.m-mg-v {
	margin-top: 2 * @fw-spacing-grid-base !important;
	margin-bottom: 2 * @fw-spacing-grid-base !important;
}
.l-mg-v {
	margin-top: 4 * @fw-spacing-grid-base !important;
	margin-bottom: 4 * @fw-spacing-grid-base !important;
}
.xl-mg-v {
	margin-top: 8 * @fw-spacing-grid-base !important;
	margin-bottom: 8 * @fw-spacing-grid-base !important;
}