@animation-easing: cubic-bezier(0,.99,.36,.99);
@animation-time: 1s;
@anim: @animation-time all @animation-easing;

@neutralizer: rgba(128,128,128,0.5);
@neutralizer-half: @neutralizer;
@neutralizer-less: rgba(128,128,128,0.4);
@neutralizer-less-less: rgba(128,128,128,0.25);
@neutralizer-less-less-less: rgba(128,128,128,0.1);
@neutralizer-less-less-less-less: rgba(128,128,128,0.05);
@neutralizer-less-less-less-less-less: rgba(128,128,128,0.02);
@neutralizer-more: rgba(128,128,128,0.6);
@neutralizer-more-more: rgba(128,128,128,0.7);
@neutralizer-more-more-more: rgba(128,128,128,0.9);

@metro-easing: cubic-bezier(.1,.9,.2,1);
@sharp-easing: cubic-bezier(0,1,0,1);

@large:   ~"only screen and (min-width: 960px)";
@medium:    ~"only screen and (max-width: 959px)";
@small:    ~"only screen and (max-width: 719px)";

@no-columns: ~"(max-height: 560px) , (max-width: 768px)";
@columns: ~"(min-height: 561px) and (min-width: 769px)";
@good-columns: ~"(min-height: 760px) and (min-width: 769px)";

@small-columns: ~"(min-height: 561px) and (max-height: 759px)";


