*[id*="fw-meta-box-"] .fw-meta-options-container {
  margin-bottom: 15px;
}
*[id*="fw-meta-box-"] hr {
  height: 2px;
  background: #ddd;
  margin: 20px 0;
}
*[id*="fw-meta-box-"] label {
  margin-top: 10px;
  display: block;
  font-weight: bold;
}
*[id*="fw-meta-box-"] input[type="text"],
*[id*="fw-meta-box-"] input[type="number"],
*[id*="fw-meta-box-"] select,
*[id*="fw-meta-box-"] textarea {
  padding: 5px;
  display: block;
  width: 100%;
}
*[id*="fw-meta-box-"] input[type="color"] {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  padding: 0;
  border: 0;
  background: transparent;
}
.fw-center-box {
  background: #fff;
  padding: 30px;
  min-width: 280px;
  width: 40%;
  margin: 50px auto;
}
.fw-center-box > *:first-child {
  margin-top: 0;
}
.fw-center-box > *:last-child {
  margin-bottom: 0;
}
.fw-center-box .spinner {
  display: inline-block;
  float: none;
  vertical-align: bottom;
  opacity: 0;
}
.fw-center-box .spinner.visible {
  opacity: 1;
}
.fw-options-page-info {
  margin: 0 20px;
  opacity: 0.15;
  margin-top: 20px;
  text-align: right;
  font-size: 11px;
  margin-bottom: 5px;
}
.fw-options-page {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  margin: 0px 20px;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.25);
  border-radius: 5px;
  font-size: 14px;
}
.fw-options-page .button {
  border: 0;
  box-shadow: none;
}
.fw-options-page .button .dashicons {
  line-height: 30px;
}
.fw-options-page .fw-options-nav {
  background-color: #23282d;
  color: #fff;
  font-size: 15px;
  min-height: 75vh;
  min-width: 240px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.fw-options-page .fw-options-nav .fw-options-nav-list {
  margin-top: 30px;
}
.fw-options-page .fw-options-nav .fw-options-nav-list .fw-options-nav-single {
  padding: 15px;
  cursor: pointer;
  margin: 0;
  font-weight: 100;
  position: relative;
}
.fw-options-page .fw-options-nav .fw-options-nav-list .fw-options-nav-single .dashicons {
  margin-right: 12px;
  font-size: 15px;
  line-height: 18px;
}
.fw-options-page .fw-options-nav .fw-options-nav-list .fw-options-nav-single:hover {
  background-color: #2e353b;
}
.fw-options-page .fw-options-nav .fw-options-nav-list .fw-options-nav-single.active {
  background-color: #373f47;
  color: #fff;
}
.fw-options-page .fw-options-nav .fw-options-nav-list .fw-options-nav-single.active:after {
  display: block;
  content: " ";
  width: 30px;
  height: 30px;
  background: #fff;
  position: absolute;
  right: -24px;
  top: 10px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.fw-options-page .fw-options-sections {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}
.fw-options-page .fw-options-sections .fw-options-section {
  padding: 30px 50px;
}
.fw-options-page .fw-options-sections .fw-options-section p {
  font-size: inherit;
}
.fw-options-page .fw-options-sections .fw-options-section .fw-option-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
  margin-bottom: 30px;
}
.fw-options-page .fw-options-sections .fw-options-section .fw-option-container .fw-option-info {
  width: 200px;
  padding-right: 20px;
}
.fw-options-page .fw-options-sections .fw-options-section .fw-option-container .fw-option-info .fw-option-title {
  font-weight: 600;
  margin-top: 3px;
}
.fw-options-page .fw-options-sections .fw-options-section .fw-option-container .fw-option-info .fw-option-label {
  opacity: 0.4;
}
.fw-options-page .fw-options-sections .fw-options-section .fw-option-container .fw-option {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.fw-options-page .fw-options-sections .fw-options-section .fw-option-container .fw-option-add-new-container {
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  padding-left: 220px;
}
.fw-options-page .fw-options-sections .fw-options-section .fw-option-container.fw-option-container-set .fw-option .fw-option-container {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 30px;
  margin-right: 10px;
}
.fw-options-page .fw-options-sections .fw-options-section .fw-option-container.fw-option-container-set .fw-option .fw-option-container > * {
  display: inline-block;
  width: auto;
}
.fw-options-page .fw-options-sections .fw-options-section .fw-option-container.fw-option-container-set .fw-option .fw-option-container > *.fw-option-info {
  padding-right: 30px;
  opacity: 0.8;
  width: 100px;
  min-width: 100px;
}
.fw-options-page .fw-options-sections .fw-options-section .fw-option-container.fw-option-container-set .fw-option .fw-option-container > *.fw-option-info .fw-option-title {
  opacity: 0.8;
}
.fw-options-page .fw-options-sections .fw-options-section .fw-option-container.fw-option-container-multiple > .fw-option {
  box-shadow: 0 0 2px rgba(128, 128, 128, 0.45);
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.fw-options-page .fw-options-sections .fw-options-section .fw-option-container.fw-option-container-multiple > .fw-option > .fw-option-container:last-child {
  margin-bottom: 0;
}
.fw-options-page .fw-options-sections .fw-options-tools {
  padding: 15px 50px;
  box-shadow: 0 -2px 2px rgba(128, 128, 128, 0.15);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
}
.fw-options-page .fw-options-sections .fw-options-tools label {
  font-weight: bold;
  margin-right: 5px;
}
.fw-option {
  max-width: 700px;
}
.fw-option input[type="text"],
.fw-option input[type="number"],
.fw-option textarea,
.fw-option select {
  height: 36px;
  display: block;
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
  line-height: 30px;
  background: rgba(128, 128, 128, 0.01);
  padding-left: 10px;
}
.fw-option textarea {
  min-height: 100px;
}
.fw-option select,
.fw-option input[type="number"] {
  max-width: 200px;
}
.fw-option input[type="checkbox"] {
  margin-top: 2px;
}
.fw-option input[type="range"] {
  -webkit-appearance: none;
  width: 300px;
  height: 10px;
  border-radius: 5px;
  background: rgba(128, 128, 128, 0.2);
  outline: none;
  padding: 0;
  -webkit-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
}
.fw-option input[type="range"]:focus {
  outline: none;
}
.fw-option input[type="range"]:hover {
  background: rgba(128, 128, 128, 0.25);
}
.fw-option input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #353535;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.fw-option input[type="range"]::-webkit-slider-thumb:hover {
  background: #0073aa;
}
.fw-option input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #353535;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  transform: scale(0.9);
}
.fw-option input[type="range"]::-moz-range-thumb:hover {
  background: #0073aa;
}
.fw-option input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #353535;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  -ms-transform: scale(0.9);
      transform: scale(0.9);
}
.fw-option input[type="range"]::-ms-thumb:hover {
  background: #0073aa;
}
.fw-option input[type="range"]:active::-webkit-slider-thumb {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.fw-option input[type="range"]:active::-moz-range-thumb {
  transform: scale(1);
}
.fw-option input[type="range"]:active::-ms-thumb {
  -ms-transform: scale(1);
      transform: scale(1);
}
.fw-option input[type="range"] + .fw-option-range-value {
  background: #333;
  color: #fff;
  padding: 2px 5px;
  border-radius: 4px;
  margin-left: 5px;
  font-size: 12px;
}
::-moz-range-track {
  background: #ccc;
  border: 0;
}
input::-moz-focus-inner {
  border: 0;
}
.fw-option-image-preview {
  max-width: 400px;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 10px;
  min-width: 400px;
  min-height: 55px;
  box-shadow: 0 0 2px rgba(128, 128, 128, 0.3);
  background-color: rgba(128, 128, 128, 0.04);
  background-size: contain;
  text-align: center;
  cursor: pointer;
}
.fw-option-image-preview:hover {
  box-shadow: 0 0 2px rgba(128, 128, 128, 0.7);
}
.fw-option-image-preview.fw-option-image-preview-empty:after {
  content: attr(data-empty);
  font-size: 12px;
  opacity: 0.4;
  line-height: 55px;
}
.fw-option-image-preview.fw-option-image-preview-empty .fw-option-image-preview-image {
  display: none;
}
.fw-option-image-preview .fw-option-image-preview-image {
  width: 100%;
  display: block;
}
.fw-sc-lib {
  white-space: nowrap;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
.fw-sc-lib > * {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
}
.fw-sc-lib * {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
.fw-sc-lib h2 {
  font-size: 23px;
}
.fw-sc-lib em {
  font-size: inherit;
}
.fw-sc-lib hr {
  height: 2px;
  background: #ddd;
  margin: 20px 0;
}
.fw-sc-lib label {
  margin-top: 10px;
  display: block;
  font-weight: bold;
}
.fw-sc-lib input[type="text"],
.fw-sc-lib input[type="number"],
.fw-sc-lib select,
.fw-sc-lib textarea {
  padding: 5px;
  display: block;
  width: 100%;
}
.fw-sc-lib input[type="color"] {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
}
.fw-sc-lib pre {
  font-family: "Courier New", Courier, monospace;
  border: 1px dashed #bbb;
  padding: 5px;
  color: #888;
  white-space: normal;
  overflow: hidden;
  margin-top: 30px;
}
.fw-sc-lib pre:empty:before {
  content: "Preview...";
}
.fw-sc-lib .fw-shortcode-param-container {
  margin-top: 10px;
}
.fw-sc-lib .fw-sc-lib-nav {
  width: 30%;
  overflow: auto;
  background: #eee;
}
.fw-sc-lib .fw-sc-lib-nav .fw-sc-search {
  position: relative;
  margin-bottom: 5px;
}
.fw-sc-lib .fw-sc-lib-nav .fw-sc-search .fw-sc-lib-nav-search {
  background: none;
  border: none;
  padding: 10px 20px;
  margin-top: 5px;
  box-shadow: none;
}
.fw-sc-lib .fw-sc-lib-nav .fw-sc-search .fw-sc-lib-nav-search:focus {
  outline: 1px dashed #ddd;
  box-shadow: none;
}
.fw-sc-lib .fw-sc-lib-nav .fw-sc-search i {
  position: absolute;
  top: 0.85em;
  right: 1.25em;
  opacity: 0.3;
}
.fw-sc-lib .fw-sc-lib-nav ul.fw-sc-list li.fw-sc-nav-list-single {
  display: block;
  padding: 10px 20px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fw-sc-lib .fw-sc-lib-nav ul.fw-sc-list li.fw-sc-nav-list-single:hover {
  background: #ddd;
}
.fw-sc-lib .fw-sc-lib-nav ul.fw-sc-list li.fw-sc-nav-list-single.active {
  background: #0074a2;
  color: #fff;
}
.fw-sc-lib .fw-sc-lib-details {
  padding: 15px;
  overflow: auto;
  width: 70%;
}
.fw-editor-tab-switch {
  display: none;
}
.fw-editor-tab-switch.active {
  border-bottom: none;
}
body[page-template="sections-template"] .fw-editor-tab-switch {
  display: inline-block;
}
body[page-template="sections-template"] #fw-editor-sections-manager {
  display: block;
}
#fw-editor-sections-manager {
  display: none;
  position: relative;
  padding-bottom: 75px;
}
#fw-editor-sections-manager .fw-editor-section-title {
  margin-top: 0;
}
#fw-editor-sections-manager > * {
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
  min-width: 25%;
}
#fw-editor-sections-manager #fw-editor-sections {
  padding-top: 3px;
}
#fw-editor-sections-manager #fw-page-sections {
  outline: 1px dashed lightgrey;
  min-width: 100px;
  min-height: 40px;
  padding: 3px;
  border-radius: 2px;
}
#fw-editor-sections-manager .fw-editor-section-single {
  border: 1px solid lightgrey;
  display: block;
  padding: 5px 10px;
  background: #fff;
  min-width: 25%;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
}
#fw-editor-sections-manager .fw-editor-section-single:active {
  cursor: move;
}
#fw-editor-sections-manager .fw-editor-section-single:last-child {
  margin-bottom: 0px;
}
#fw-editor-sections-manager .fw-editor-section-single:hover {
  background: #eee;
}
