.fw-options-page-info {
  margin: 0 20px;
  opacity: 0.15;
  margin-top: 20px;
  text-align: right;
  font-size: 11px;
  margin-bottom: 5px;
}
.fw-options-page {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  margin: 0px 20px;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.25);
  border-radius: 5px;
  font-size: 14px;
}
.fw-options-page .button {
  border: 0;
  box-shadow: none;
}
.fw-options-page .button .dashicons {
  line-height: 30px;
}
.fw-options-page .fw-options-nav {
  background-color: #23282d;
  color: #fff;
  font-size: 15px;
  min-height: 75vh;
  min-width: 240px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.fw-options-page .fw-options-nav .fw-options-nav-list {
  margin-top: 30px;
}
.fw-options-page .fw-options-nav .fw-options-nav-list .fw-options-nav-single {
  padding: 15px;
  cursor: pointer;
  margin: 0;
  font-weight: 100;
  position: relative;
}
.fw-options-page .fw-options-nav .fw-options-nav-list .fw-options-nav-single .dashicons {
  margin-right: 12px;
  font-size: 15px;
  line-height: 18px;
}
.fw-options-page .fw-options-nav .fw-options-nav-list .fw-options-nav-single:hover {
  background-color: #2e353b;
}
.fw-options-page .fw-options-nav .fw-options-nav-list .fw-options-nav-single.active {
  background-color: #373f47;
  color: #fff;
}
.fw-options-page .fw-options-nav .fw-options-nav-list .fw-options-nav-single.active:after {
  display: block;
  content: " ";
  width: 30px;
  height: 30px;
  background: #fff;
  position: absolute;
  right: -24px;
  top: 10px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.fw-options-page .fw-options-sections {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}
.fw-options-page .fw-options-sections .fw-options-section {
  padding: 30px 50px;
}
.fw-options-page .fw-options-sections .fw-options-section p {
  font-size: inherit;
}
.fw-options-page .fw-options-sections .fw-options-section .fw-option-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
  margin-bottom: 30px;
}
.fw-options-page .fw-options-sections .fw-options-section .fw-option-container .fw-option-info {
  width: 200px;
  padding-right: 20px;
}
.fw-options-page .fw-options-sections .fw-options-section .fw-option-container .fw-option-info .fw-option-title {
  font-weight: 600;
  margin-top: 3px;
}
.fw-options-page .fw-options-sections .fw-options-section .fw-option-container .fw-option-info .fw-option-label {
  opacity: 0.4;
}
.fw-options-page .fw-options-sections .fw-options-section .fw-option-container .fw-option {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.fw-options-page .fw-options-sections .fw-options-section .fw-option-container .fw-option-add-new-container {
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  padding-left: 220px;
}
.fw-options-page .fw-options-sections .fw-options-section .fw-option-container.fw-option-container-set .fw-option .fw-option-container {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 30px;
  margin-right: 10px;
}
.fw-options-page .fw-options-sections .fw-options-section .fw-option-container.fw-option-container-set .fw-option .fw-option-container > * {
  display: inline-block;
  width: auto;
}
.fw-options-page .fw-options-sections .fw-options-section .fw-option-container.fw-option-container-set .fw-option .fw-option-container > *.fw-option-info {
  padding-right: 30px;
  opacity: 0.8;
  width: 100px;
  min-width: 100px;
}
.fw-options-page .fw-options-sections .fw-options-section .fw-option-container.fw-option-container-set .fw-option .fw-option-container > *.fw-option-info .fw-option-title {
  opacity: 0.8;
}
.fw-options-page .fw-options-sections .fw-options-section .fw-option-container.fw-option-container-multiple > .fw-option {
  box-shadow: 0 0 2px rgba(128, 128, 128, 0.45);
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.fw-options-page .fw-options-sections .fw-options-section .fw-option-container.fw-option-container-multiple > .fw-option > .fw-option-container:last-child {
  margin-bottom: 0;
}
.fw-options-page .fw-options-sections .fw-options-tools {
  padding: 15px 50px;
  box-shadow: 0 -2px 2px rgba(128, 128, 128, 0.15);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
}
.fw-options-page .fw-options-sections .fw-options-tools label {
  font-weight: bold;
  margin-right: 5px;
}
.fw-option {
  max-width: 700px;
}
.fw-option input[type="text"],
.fw-option input[type="number"],
.fw-option textarea,
.fw-option select {
  height: 36px;
  display: block;
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
  line-height: 30px;
  background: rgba(128, 128, 128, 0.01);
  padding-left: 10px;
}
.fw-option textarea {
  min-height: 100px;
}
.fw-option select,
.fw-option input[type="number"] {
  max-width: 200px;
}
.fw-option input[type="checkbox"] {
  margin-top: 2px;
}
.fw-option input[type="range"] {
  -webkit-appearance: none;
  width: 300px;
  height: 10px;
  border-radius: 5px;
  background: rgba(128, 128, 128, 0.2);
  outline: none;
  padding: 0;
  -webkit-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
}
.fw-option input[type="range"]:focus {
  outline: none;
}
.fw-option input[type="range"]:hover {
  background: rgba(128, 128, 128, 0.25);
}
.fw-option input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #353535;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.fw-option input[type="range"]::-webkit-slider-thumb:hover {
  background: #0073aa;
}
.fw-option input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #353535;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  transform: scale(0.9);
}
.fw-option input[type="range"]::-moz-range-thumb:hover {
  background: #0073aa;
}
.fw-option input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #353535;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  -ms-transform: scale(0.9);
      transform: scale(0.9);
}
.fw-option input[type="range"]::-ms-thumb:hover {
  background: #0073aa;
}
.fw-option input[type="range"]:active::-webkit-slider-thumb {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.fw-option input[type="range"]:active::-moz-range-thumb {
  transform: scale(1);
}
.fw-option input[type="range"]:active::-ms-thumb {
  -ms-transform: scale(1);
      transform: scale(1);
}
.fw-option input[type="range"] + .fw-option-range-value {
  background: #333;
  color: #fff;
  padding: 2px 5px;
  border-radius: 4px;
  margin-left: 5px;
  font-size: 12px;
}
::-moz-range-track {
  background: #ccc;
  border: 0;
}
input::-moz-focus-inner {
  border: 0;
}
.fw-option-image-preview {
  max-width: 400px;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 10px;
  min-width: 400px;
  min-height: 55px;
  box-shadow: 0 0 2px rgba(128, 128, 128, 0.3);
  background-color: rgba(128, 128, 128, 0.04);
  background-size: contain;
  text-align: center;
  cursor: pointer;
}
.fw-option-image-preview:hover {
  box-shadow: 0 0 2px rgba(128, 128, 128, 0.7);
}
.fw-option-image-preview.fw-option-image-preview-empty:after {
  content: attr(data-empty);
  font-size: 12px;
  opacity: 0.4;
  line-height: 55px;
}
.fw-option-image-preview.fw-option-image-preview-empty .fw-option-image-preview-image {
  display: none;
}
.fw-option-image-preview .fw-option-image-preview-image {
  width: 100%;
  display: block;
}
