



.fw-editor-tab-switch {
	display: none;
	&.active {
		border-bottom: none;
	}
}

body[page-template="sections-template"] {
	.fw-editor-tab-switch {
		display: inline-block;
	}
	#fw-editor-sections-manager {
		display: block;
	}
}

#fw-editor-sections-manager {
	display: none;
	position: relative;
	padding-bottom: 75px;
	.fw-editor-section-title {
		margin-top: 0;
	}
	//text-align: center;
	& > * {
		display: inline-block;
		vertical-align: top;		
		padding-right: 20px;
		min-width: 25%;
	}
	#fw-editor-sections {
		padding-top: 3px;
	}
	#fw-page-sections {
		outline: 1px dashed lightgrey;
		min-width: 100px;
		min-height: 40px;
		padding: 3px;
		border-radius: 2px;
	}

	.fw-editor-section-single {
		border: 1px solid lightgrey;
		display: block;
		padding: 5px 10px;
		background: #fff;
		min-width: 25%;
		font-weight: bold;
		border-radius: 2px;
		&:active {
			cursor: move;
		}
		cursor: pointer;
		&:last-child {
			margin-bottom: 0px;
		}
		&:hover {
			background: #eee;
		}
		
	}
}