*[id*="fw-meta-box-"] {
	.fw-meta-options-container {
		margin-bottom: 15px;
	}

	hr {
		height: 2px;
		background: #ddd;
		margin: 20px 0;
	}

	label {
		margin-top: 10px;
		display: block;
		font-weight: bold;
	}

	input[type="text"] , input[type="number"], select, textarea {
		padding: 5px;
		display: block;
		width: 100%;
	}

	input[type="color"] {
		width: 16px;
		height: 16px;
		vertical-align: middle;
		display: inline-block;
		cursor: pointer;
		padding: 0;
		border: 0;
		background: transparent;
	}

}

.fw-center-box {
	background: #fff;
	padding: 30px;
	min-width: 280px;
	width: 40%;
	margin: 50px auto;
	& > *:first-child {
		margin-top: 0;
	}

	& > *:last-child {
		margin-bottom: 0;
	}

	.spinner {
		display: inline-block;
		float: none;
		vertical-align: bottom;
		opacity: 0;
		&.visible {
			opacity: 1;
		}
	}
}