@options-main-color: #23282d;
@options-active-color: #0073aa;

@nav-padding-left: 30px;
.fw-options-page-info {
	margin: 0 20px;
	opacity: 0.15;
	margin-top: 20px;
	text-align: right;
	font-size: 11px;
	margin-bottom: 5px;
}
.fw-options-page {
	display: flex;
	background: #fff;
	margin: 0px 20px;
	box-shadow: 0 0 5px rgba(128, 128, 128, 0.25);
	border-radius: 5px;
	font-size: 14px;

	.button {
		border: 0;
		box-shadow: none;
		.dashicons {
			line-height: 30px;
		}
	}


	.fw-options-nav {
		background-color: @options-main-color;
		color: #fff;
		font-size: 15px;
		min-height: 75vh;
		min-width: 240px;

		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;

		.fw-options-nav-list {
			margin-top: 30px;
			.fw-options-nav-single {
				padding: 15px;
				cursor: pointer;
				margin: 0;
				font-weight: 100;
				//border-bottom: 1px solid darken(@options-main-color, 2%);
				position: relative;

				.dashicons {
					margin-right: 12px;
					font-size: 15px;
					line-height: 18px;
				}
				
				&:hover {
					background-color: lighten(@options-main-color, 5%);
				}

				&.active {
					background-color: lighten(@options-main-color, 9%);
					color: #fff;
					&:after {
						display: block;
						content: " ";
						width: 30px;
						height: 30px;
						background: #fff;
						position: absolute;
						right: -24px;
						top: 10px;
						transform: rotate(45deg);

						//box-shadow: 2px -2px 2px rgba(128, 128, 128, 0.27);
					}
				}
			}
		}
	}

	.fw-options-sections {
		flex-grow: 1;
		position: relative;
		.fw-options-section {
			padding: 30px 50px;
			//padding-bottom: 130px;
			p {
				font-size: inherit;
			}

			.fw-option-container {
				display: flex;
				flex-wrap: wrap;
				padding-bottom: 30px;
				border-bottom: 1px solid rgba(128,128,128,0.1);
				margin-bottom: 30px;
				.fw-option-info {
					width: 200px;
					padding-right: 20px;
					.fw-option-title {
						font-weight: 600;
						margin-top: 3px;
					}
					.fw-option-label {
						opacity: 0.4;
					}
				}
				.fw-option {
					flex-grow: 1;
				}

				.fw-option-add-new-container {
					flex-grow: 0;
					flex-basis: 100%;
					padding-left: 220px;
				}

				&.fw-option-container-set {
					.fw-option {
						.fw-option-container {
							border-bottom: none;
							padding-bottom: 0;
							margin-bottom: 30px;
							//display: inline-block;
							margin-right: 10px;
							& > * {
								display: inline-block;
								width: auto;
								&.fw-option-info {
									padding-right: 30px;
									//font-weight: normal;
									opacity: 0.8;
									width: 100px;
									min-width: 100px;
									.fw-option-title {
										opacity: 0.8;
									}
								}
							}
						}
					}

				}

				&.fw-option-container-multiple {
					& > .fw-option {
						box-shadow: 0 0 2px rgba(128, 128, 128, 0.45);
						padding: 20px;
						margin-bottom: 10px;
						border-radius: 5px;
						& > .fw-option-container:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}

		.fw-options-tools {
			padding: 15px 50px;
			box-shadow: 0 -2px 2px rgba(128, 128, 128, 0.15);
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			text-align: right;
			label {
				font-weight: bold;
				margin-right: 5px;
			}
		}
	}

}

.fw-option {
	max-width: 700px;
	input[type="text"], input[type="number"], textarea, select {
		height: 36px;
		display: block;
		width: 100%;
		max-width: 400px;
		border-radius: 5px;
		line-height: 30px;
		background: rgba(128, 128, 128, 0.01);
		padding-left: 10px;
	}
	textarea {
		min-height: 100px;
	}
	select, input[type="number"] {
		max-width: 200px;
	}
	input[type="checkbox"] {
		margin-top: 2px;
	}
	input[type="range"] {
		-webkit-appearance: none;
		width: 300px;
		height: 10px;
		border-radius: 5px;
		background: rgba(128, 128, 128, 0.2);
		outline: none;
		padding: 0;
		transition: all .15s ease-in-out;


		&:focus {
		  outline: none;
		}

		&:hover {
			background: rgba(128, 128, 128, 0.25);
		}

		.styles() {
			-webkit-appearance: none;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background: #353535;
			cursor: pointer;
			transition: all .15s ease-in-out;
			transform: scale(0.9);
			
			&:hover {
			  background: #0073aa;
			}
		}

		&::-webkit-slider-thumb {
			.styles();
		}
			
		&::-moz-range-thumb {
			.styles();
		} 

		&::-ms-thumb {
			.styles();
		}

		&:active::-webkit-slider-thumb {
			transform: scale(1);
		}
			
		&:active::-moz-range-thumb {
			transform: scale(1);
		} 

		&:active::-ms-thumb {
			transform: scale(1);
		}

		& + .fw-option-range-value {
			background: #333;
			color: #fff;
			padding: 2px 5px;
			border-radius: 4px;
			margin-left: 5px;
			font-size: 12px;
		}

	}
}

// Firefox Overrides
::-moz-range-track {
    background: #ccc;
    border: 0;
}

input::-moz-focus-inner { 
  border: 0; 
}


.fw-option-image-preview {
	max-width: 400px;
	overflow: hidden;
	border-radius: 5px;
	margin-bottom: 10px;
	min-width: 400px;
	min-height: 55px;
	box-shadow: 0 0 2px rgba(128, 128, 128, 0.3);
	background-color: rgba(128, 128, 128, 0.04);
	background-size: contain;
	text-align: center;
	cursor: pointer;
	&:hover {
		box-shadow: 0 0 2px rgba(128, 128, 128, 0.7);
	}

	&.fw-option-image-preview-empty {
		&:after {
			content: attr(data-empty);
			font-size: 12px;
			opacity: 0.4;
			line-height: 55px;
		}

		.fw-option-image-preview-image {
			display: none;
		}
		
	}

	.fw-option-image-preview-image {
		width: 100%;
		display: block;
	}
}
