
	.fw-sc-lib {
		//padding: 15px;
		white-space: nowrap;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		& > * {
			display: inline-block;
			white-space: normal;
			vertical-align: top;
		}

		* {
			box-sizing: border-box;
		}
		
		h2 {
			font-size: 23px;
		}

		em {
			font-size: inherit;
		}

		hr {
			height: 2px;
			background: #ddd;
			margin: 20px 0;
		}

		label {
			margin-top: 10px;
			display: block;
			font-weight: bold;
		}

		input[type="text"] , input[type="number"], select, textarea {
			padding: 5px;
			display: block;
			width: 100%;
		}

		input[type="color"] {
			width: 16px;
			height: 16px;
			vertical-align: middle;
			display: inline-block;
			cursor: pointer;
		}

		pre {
			font-family: "Courier New", Courier, monospace;
			border: 1px dashed #bbb;
			padding: 5px;
			color: #888;
			white-space: normal;
			overflow: hidden;
			margin-top: 30px;
			&:empty {
				&:before {
					content: "Preview...";
				}
			}
		}

		.fw-shortcode-param-container {
			margin-top: 10px;
		}

		.fw-sc-lib-nav {
			width: 30%;
			overflow: auto;
			background: #eee;
			//color: #fff;
			.fw-sc-search {
				position: relative;
				margin-bottom: 5px;
				.fw-sc-lib-nav-search {
					background: none;
					border: none;
					padding: 10px 20px;				
					margin-top: 5px;
					box-shadow: none;
					&:focus {
						outline: 1px dashed #ddd;
						box-shadow: none;
					}
				}

				i {
					position: absolute;
					top: 0.85em;
					right: 1.25em;
					opacity: 0.3;
				}
			}
			
			ul.fw-sc-list {
				li.fw-sc-nav-list-single {
					display: block;
					padding: 10px 20px;
					cursor: pointer;
					overflow: hidden;
					text-overflow: ellipsis;
					&:hover {
						background: #ddd;
					}
					&.active {
						background: #0074a2;
						color: #fff;
					}
				}
			}
		}
		.fw-sc-lib-details {
			padding: 15px;
			overflow: auto;
			width: 70%;
		}
	}

