/*!
 *  Font Awesome 4.1.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'ffontawesome-webfont';
  src: url('../../fonts/fa/fontawesome-webfont.eot?v=4.1.0');
  src: url('../../fonts/fa/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../../fonts/fa/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../../fonts/fa/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../../fonts/fa/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'fontawesome-webfont';
        src: url('../../fonts/fa/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    }
}
i[name] {
  display: inline;
  font-family: FontAwesome !important;
  font-style: normal !important;
  font-weight: normal !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
i[medium] {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
i[large] {
  font-size: 2em;
}
i[larger] {
  font-size: 3em;
}
i[xl] {
  font-size: 4em;
}
i[xxl] {
  font-size: 5em;
}

i[spin] {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
i[rotate-90] {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
i[rotate-180] {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
i[rotate-270] {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
i[flip-h] {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
i[flip-v] {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
i[name="glass"]:before {
  content: "\f000" !important;
}
i[name="music"]:before {
  content: "\f001" !important;
}
i[name="search"]:before {
  content: "\f002" !important;
}
i[name="envelope-o"]:before {
  content: "\f003" !important;
}
i[name="heart"]:before {
  content: "\f004" !important;
}
i[name="star"]:before {
  content: "\f005" !important;
}
i[name="star-o"]:before {
  content: "\f006" !important;
}
i[name="user"]:before {
  content: "\f007" !important;
}
i[name="film"]:before {
  content: "\f008" !important;
}
i[name="th-large"]:before {
  content: "\f009" !important;
}
i[name="th"]:before {
  content: "\f00a" !important;
}
i[name="th-list"]:before {
  content: "\f00b" !important;
}
i[name="check"]:before {
  content: "\f00c" !important;
}
i[name="times"]:before {
  content: "\f00d" !important;
}
i[name="search-plus"]:before {
  content: "\f00e" !important;
}
i[name="search-minus"]:before {
  content: "\f010" !important;
}
i[name="power-off"]:before {
  content: "\f011" !important;
}
i[name="signal"]:before {
  content: "\f012" !important;
}
i[name="cog"]:before {
  content: "\f013" !important;
}
i[name="trash-o"]:before {
  content: "\f014" !important;
}
i[name="home"]:before {
  content: "\f015" !important;
}
i[name="file-o"]:before {
  content: "\f016" !important;
}
i[name="clock-o"]:before {
  content: "\f017" !important;
}
i[name="road"]:before {
  content: "\f018" !important;
}
i[name="download"]:before {
  content: "\f019" !important;
}
i[name="arrow-circle-o-down"]:before {
  content: "\f01a" !important;
}
i[name="arrow-circle-o-up"]:before {
  content: "\f01b" !important;
}
i[name="inbox"]:before {
  content: "\f01c" !important;
}
i[name="play-circle-o"]:before {
  content: "\f01d" !important;
}
i[name="rotate"]-right:before,
i[name="repeat"]:before {
  content: "\f01e" !important;
}
i[name="refresh"]:before {
  content: "\f021" !important;
}
i[name="list-alt"]:before {
  content: "\f022" !important;
}
i[name="lock"]:before {
  content: "\f023" !important;
}
i[name="flag"]:before {
  content: "\f024" !important;
}
i[name="headphones"]:before {
  content: "\f025" !important;
}
i[name="volume-off"]:before {
  content: "\f026" !important;
}
i[name="volume-down"]:before {
  content: "\f027" !important;
}
i[name="volume-up"]:before {
  content: "\f028" !important;
}
i[name="qrcode"]:before {
  content: "\f029" !important;
}
i[name="barcode"]:before {
  content: "\f02a" !important;
}
i[name="tag"]:before {
  content: "\f02b" !important;
}
i[name="tags"]:before {
  content: "\f02c" !important;
}
i[name="book"]:before {
  content: "\f02d" !important;
}
i[name="bookmark"]:before {
  content: "\f02e" !important;
}
i[name="print"]:before {
  content: "\f02f" !important;
}
i[name="camera"]:before {
  content: "\f030" !important;
}
i[name="font"]:before {
  content: "\f031" !important;
}
i[name="bold"]:before {
  content: "\f032" !important;
}
i[name="italic"]:before {
  content: "\f033" !important;
}
i[name="text-height"]:before {
  content: "\f034" !important;
}
i[name="text-width"]:before {
  content: "\f035" !important;
}
i[name="align-left"]:before {
  content: "\f036" !important;
}
i[name="align-center"]:before {
  content: "\f037" !important;
}
i[name="align-right"]:before {
  content: "\f038" !important;
}
i[name="align-justify"]:before {
  content: "\f039" !important;
}
i[name="list"]:before {
  content: "\f03a" !important;
}

i[name="outdent"]:before {
  content: "\f03b" !important;
}
i[name="indent"]:before {
  content: "\f03c" !important;
}
i[name="video-camera"]:before {
  content: "\f03d" !important;
}

i[name="photo"]:before {
  content: "\f03e" !important;
}
i[name="pencil"]:before {
  content: "\f040" !important;
}
i[name="map-marker"]:before {
  content: "\f041" !important;
}
i[name="adjust"]:before {
  content: "\f042" !important;
}
i[name="tint"]:before {
  content: "\f043" !important;
}
i[name="edit"]:before {
  content: "\f044" !important;
}
i[name="share-square-o"]:before {
  content: "\f045" !important;
}
i[name="check-square-o"]:before {
  content: "\f046" !important;
}
i[name="arrows"]:before {
  content: "\f047" !important;
}
i[name="step-backward"]:before {
  content: "\f048" !important;
}
i[name="fast-backward"]:before {
  content: "\f049" !important;
}
i[name="backward"]:before {
  content: "\f04a" !important;
}
i[name="play"]:before {
  content: "\f04b" !important;
}
i[name="pause"]:before {
  content: "\f04c" !important;
}
i[name="stop"]:before {
  content: "\f04d" !important;
}
i[name="forward"]:before {
  content: "\f04e" !important;
}
i[name="fast-forward"]:before {
  content: "\f050" !important;
}
i[name="step-forward"]:before {
  content: "\f051" !important;
}
i[name="eject"]:before {
  content: "\f052" !important;
}
i[name="chevron-left"]:before {
  content: "\f053" !important;
}
i[name="chevron-right"]:before {
  content: "\f054" !important;
}
i[name="plus-circle"]:before {
  content: "\f055" !important;
}
i[name="minus-circle"]:before {
  content: "\f056" !important;
}
i[name="times-circle"]:before {
  content: "\f057" !important;
}
i[name="check-circle"]:before {
  content: "\f058" !important;
}
i[name="question-circle"]:before {
  content: "\f059" !important;
}
i[name="info-circle"]:before {
  content: "\f05a" !important;
}
i[name="crosshairs"]:before {
  content: "\f05b" !important;
}
i[name="times-circle-o"]:before {
  content: "\f05c" !important;
}
i[name="check-circle-o"]:before {
  content: "\f05d" !important;
}
i[name="ban"]:before {
  content: "\f05e" !important;
}
i[name="arrow-left"]:before {
  content: "\f060" !important;
}
i[name="arrow-right"]:before {
  content: "\f061" !important;
}
i[name="arrow-up"]:before {
  content: "\f062" !important;
}
i[name="arrow-down"]:before {
  content: "\f063" !important;
}
i[name="mail"]-forward:before,
i[name="share"]:before {
  content: "\f064" !important;
}
i[name="expand"]:before {
  content: "\f065" !important;
}
i[name="compress"]:before {
  content: "\f066" !important;
}
i[name="plus"]:before {
  content: "\f067" !important;
}
i[name="minus"]:before {
  content: "\f068" !important;
}
i[name="asterisk"]:before {
  content: "\f069" !important;
}
i[name="exclamation-circle"]:before {
  content: "\f06a" !important;
}
i[name="gift"]:before {
  content: "\f06b" !important;
}
i[name="leaf"]:before {
  content: "\f06c" !important;
}
i[name="fire"]:before {
  content: "\f06d" !important;
}
i[name="eye"]:before {
  content: "\f06e" !important;
}
i[name="eye-slash"]:before {
  content: "\f070" !important;
}
i[name="warning"]:before {
  content: "\f071" !important;
}
i[name="plane"]:before {
  content: "\f072" !important;
}
i[name="calendar"]:before {
  content: "\f073" !important;
}
i[name="random"]:before {
  content: "\f074" !important;
}
i[name="comment"]:before {
  content: "\f075" !important;
}
i[name="magnet"]:before {
  content: "\f076" !important;
}
i[name="chevron-up"]:before {
  content: "\f077" !important;
}
i[name="chevron-down"]:before {
  content: "\f078" !important;
}
i[name="retweet"]:before {
  content: "\f079" !important;
}
i[name="shopping-cart"]:before {
  content: "\f07a" !important;
}
i[name="folder"]:before {
  content: "\f07b" !important;
}
i[name="folder-open"]:before {
  content: "\f07c" !important;
}
i[name="arrows-v"]:before {
  content: "\f07d" !important;
}
i[name="arrows-h"]:before {
  content: "\f07e" !important;
}
i[name="bar-chart-o"]:before {
  content: "\f080" !important;
}
i[name="twitter-square"]:before {
  content: "\f081" !important;
}
i[name="facebook-square"]:before {
  content: "\f082" !important;
}
i[name="camera-retro"]:before {
  content: "\f083" !important;
}
i[name="key"]:before {
  content: "\f084" !important;
}
i[name="cogs"]:before {
  content: "\f085" !important;
}
i[name="comments"]:before {
  content: "\f086" !important;
}
i[name="thumbs-o-up"]:before {
  content: "\f087" !important;
}
i[name="thumbs-o-down"]:before {
  content: "\f088" !important;
}
i[name="star-half"]:before {
  content: "\f089" !important;
}
i[name="heart-o"]:before {
  content: "\f08a" !important;
}
i[name="sign-out"]:before {
  content: "\f08b" !important;
}
i[name="linkedin-square"]:before {
  content: "\f08c" !important;
}
i[name="thumb-tack"]:before {
  content: "\f08d" !important;
}
i[name="external-link"]:before {
  content: "\f08e" !important;
}
i[name="sign-in"]:before {
  content: "\f090" !important;
}
i[name="trophy"]:before {
  content: "\f091" !important;
}
i[name="github-square"]:before {
  content: "\f092" !important;
}
i[name="upload"]:before {
  content: "\f093" !important;
}
i[name="lemon-o"]:before {
  content: "\f094" !important;
}
i[name="phone"]:before {
  content: "\f095" !important;
}
i[name="square-o"]:before {
  content: "\f096" !important;
}
i[name="bookmark-o"]:before {
  content: "\f097" !important;
}
i[name="phone-square"]:before {
  content: "\f098" !important;
}
i[name="twitter"]:before {
  content: "\f099" !important;
}
i[name="facebook"]:before {
  content: "\f09a" !important;
}
i[name="github"]:before {
  content: "\f09b" !important;
}
i[name="unlock"]:before {
  content: "\f09c" !important;
}
i[name="credit-card"]:before {
  content: "\f09d" !important;
}
i[name="rss"]:before {
  content: "\f09e" !important;
}
i[name="hdd-o"]:before {
  content: "\f0a0" !important;
}
i[name="bullhorn"]:before {
  content: "\f0a1" !important;
}
i[name="bell"]:before {
  content: "\f0f3" !important;
}
i[name="certificate"]:before {
  content: "\f0a3" !important;
}
i[name="hand-o-right"]:before {
  content: "\f0a4" !important;
}
i[name="hand-o-left"]:before {
  content: "\f0a5" !important;
}
i[name="hand-o-up"]:before {
  content: "\f0a6" !important;
}
i[name="hand-o-down"]:before {
  content: "\f0a7" !important;
}
i[name="arrow-circle-left"]:before {
  content: "\f0a8" !important;
}
i[name="arrow-circle-right"]:before {
  content: "\f0a9" !important;
}
i[name="arrow-circle-up"]:before {
  content: "\f0aa" !important;
}
i[name="arrow-circle-down"]:before {
  content: "\f0ab" !important;
}
i[name="globe"]:before {
  content: "\f0ac" !important;
}
i[name="wrench"]:before {
  content: "\f0ad" !important;
}
i[name="tasks"]:before {
  content: "\f0ae" !important;
}
i[name="filter"]:before {
  content: "\f0b0" !important;
}
i[name="briefcase"]:before {
  content: "\f0b1" !important;
}
i[name="arrows-alt"]:before {
  content: "\f0b2" !important;
}
i[name="group"]:before {
  content: "\f0c0" !important;
}
i[name="link"]:before {
  content: "\f0c1" !important;
}
i[name="cloud"]:before {
  content: "\f0c2" !important;
}
i[name="flask"]:before {
  content: "\f0c3" !important;
}
i[name="cut"]:before {
  content: "\f0c4" !important;
}
i[name="copy"]:before {
  content: "\f0c5" !important;
}
i[name="paperclip"]:before {
  content: "\f0c6" !important;
}
i[name="save"]:before {
  content: "\f0c7" !important;
}
i[name="square"]:before {
  content: "\f0c8" !important;
}
i[name="bars"]:before {
  content: "\f0c9" !important;
}
i[name="list-ul"]:before {
  content: "\f0ca" !important;
}
i[name="list-ol"]:before {
  content: "\f0cb" !important;
}
i[name="strikethrough"]:before {
  content: "\f0cc" !important;
}
i[name="underline"]:before {
  content: "\f0cd" !important;
}
i[name="table"]:before {
  content: "\f0ce" !important;
}
i[name="magic"]:before {
  content: "\f0d0" !important;
}
i[name="truck"]:before {
  content: "\f0d1" !important;
}
i[name="pinterest"]:before {
  content: "\f0d2" !important;
}
i[name="pinterest-square"]:before {
  content: "\f0d3" !important;
}
i[name="google-plus-square"]:before {
  content: "\f0d4" !important;
}
i[name="google-plus"]:before {
  content: "\f0d5" !important;
}
i[name="money"]:before {
  content: "\f0d6" !important;
}
i[name="caret-down"]:before {
  content: "\f0d7" !important;
}
i[name="caret-up"]:before {
  content: "\f0d8" !important;
}
i[name="caret-left"]:before {
  content: "\f0d9" !important;
}
i[name="caret-right"]:before {
  content: "\f0da" !important;
}
i[name="columns"]:before {
  content: "\f0db" !important;
}
i[name="sort"]:before {
  content: "\f0dc" !important;
}
i[name="sort"]-down:before,
i[name="sort-desc"]:before {
  content: "\f0dd" !important;
}
i[name="sort"]-up:before,
i[name="sort-asc"]:before {
  content: "\f0de" !important;
}
i[name="envelope"]:before {
  content: "\f0e0" !important;
}
i[name="linkedin"]:before {
  content: "\f0e1" !important;
}
i[name="rotate"]-left:before,
i[name="undo"]:before {
  content: "\f0e2" !important;
}
i[name="legal"]:before {
  content: "\f0e3" !important;
}
i[name="dashboard"]:before {
  content: "\f0e4" !important;
}
i[name="comment-o"]:before {
  content: "\f0e5" !important;
}
i[name="comments-o"]:before {
  content: "\f0e6" !important;
}
i[name="flash"]:before {
  content: "\f0e7" !important;
}
i[name="sitemap"]:before {
  content: "\f0e8" !important;
}
i[name="umbrella"]:before {
  content: "\f0e9" !important;
}
i[name="clipboard"]:before {
  content: "\f0ea" !important;
}
i[name="lightbulb-o"]:before {
  content: "\f0eb" !important;
}
i[name="exchange"]:before {
  content: "\f0ec" !important;
}
i[name="cloud-download"]:before {
  content: "\f0ed" !important;
}
i[name="cloud-upload"]:before {
  content: "\f0ee" !important;
}
i[name="user-md"]:before {
  content: "\f0f0" !important;
}
i[name="stethoscope"]:before {
  content: "\f0f1" !important;
}
i[name="suitcase"]:before {
  content: "\f0f2" !important;
}
i[name="bell-o"]:before {
  content: "\f0a2" !important;
}
i[name="coffee"]:before {
  content: "\f0f4" !important;
}
i[name="cutlery"]:before {
  content: "\f0f5" !important;
}
i[name="file-text-o"]:before {
  content: "\f0f6" !important;
}
i[name="building-o"]:before {
  content: "\f0f7" !important;
}
i[name="hospital-o"]:before {
  content: "\f0f8" !important;
}
i[name="ambulance"]:before {
  content: "\f0f9" !important;
}
i[name="medkit"]:before {
  content: "\f0fa" !important;
}
i[name="fighter-jet"]:before {
  content: "\f0fb" !important;
}
i[name="beer"]:before {
  content: "\f0fc" !important;
}
i[name="h-square"]:before {
  content: "\f0fd" !important;
}
i[name="plus-square"]:before {
  content: "\f0fe" !important;
}
i[name="angle-double-left"]:before {
  content: "\f100" !important;
}
i[name="angle-double-right"]:before {
  content: "\f101" !important;
}
i[name="angle-double-up"]:before {
  content: "\f102" !important;
}
i[name="angle-double-down"]:before {
  content: "\f103" !important;
}
i[name="angle-left"]:before {
  content: "\f104" !important;
}
i[name="angle-right"]:before {
  content: "\f105" !important;
}
i[name="angle-up"]:before {
  content: "\f106" !important;
}
i[name="angle-down"]:before {
  content: "\f107" !important;
}
i[name="desktop"]:before {
  content: "\f108" !important;
}
i[name="laptop"]:before {
  content: "\f109" !important;
}
i[name="tablet"]:before {
  content: "\f10a" !important;
}
i[name="mobile"]-phone:before,
i[name="mobile"]:before {
  content: "\f10b" !important;
}
i[name="circle-o"]:before {
  content: "\f10c" !important;
}
i[name="quote-left"]:before {
  content: "\f10d" !important;
}
i[name="quote-right"]:before {
  content: "\f10e" !important;
}
i[name="spinner"]:before {
  content: "\f110" !important;
}
i[name="circle"]:before {
  content: "\f111" !important;
}
i[name="mail"]-reply:before,
i[name="reply"]:before {
  content: "\f112" !important;
}
i[name="github-alt"]:before {
  content: "\f113" !important;
}
i[name="folder-o"]:before {
  content: "\f114" !important;
}
i[name="folder-open-o"]:before {
  content: "\f115" !important;
}
i[name="smile-o"]:before {
  content: "\f118" !important;
}
i[name="frown-o"]:before {
  content: "\f119" !important;
}
i[name="meh-o"]:before {
  content: "\f11a" !important;
}
i[name="gamepad"]:before {
  content: "\f11b" !important;
}
i[name="keyboard-o"]:before {
  content: "\f11c" !important;
}
i[name="flag-o"]:before {
  content: "\f11d" !important;
}
i[name="flag-checkered"]:before {
  content: "\f11e" !important;
}
i[name="terminal"]:before {
  content: "\f120" !important;
}
i[name="code"]:before {
  content: "\f121" !important;
}
i[name="mail-reply"]-all:before,
i[name="reply-all"]:before {
  content: "\f122" !important;
}
i[name="star-half"]-empty:before,
i[name="star-half"]-full:before,
i[name="star-half-o"]:before {
  content: "\f123" !important;
}
i[name="location-arrow"]:before {
  content: "\f124" !important;
}
i[name="crop"]:before {
  content: "\f125" !important;
}
i[name="code-fork"]:before {
  content: "\f126" !important;
}
i[name="unlink"]:before {
  content: "\f127" !important;
}
i[name="question"]:before {
  content: "\f128" !important;
}
i[name="info"]:before {
  content: "\f129" !important;
}
i[name="exclamation"]:before {
  content: "\f12a" !important;
}
i[name="superscript"]:before {
  content: "\f12b" !important;
}
i[name="subscript"]:before {
  content: "\f12c" !important;
}
i[name="eraser"]:before {
  content: "\f12d" !important;
}
i[name="puzzle-piece"]:before {
  content: "\f12e" !important;
}
i[name="microphone"]:before {
  content: "\f130" !important;
}
i[name="microphone-slash"]:before {
  content: "\f131" !important;
}
i[name="shield"]:before {
  content: "\f132" !important;
}
i[name="calendar-o"]:before {
  content: "\f133" !important;
}
i[name="fire-extinguisher"]:before {
  content: "\f134" !important;
}
i[name="rocket"]:before {
  content: "\f135" !important;
}
i[name="maxcdn"]:before {
  content: "\f136" !important;
}
i[name="chevron-circle-left"]:before {
  content: "\f137" !important;
}
i[name="chevron-circle-right"]:before {
  content: "\f138" !important;
}
i[name="chevron-circle-up"]:before {
  content: "\f139" !important;
}
i[name="chevron-circle-down"]:before {
  content: "\f13a" !important;
}
i[name="html5"]:before {
  content: "\f13b" !important;
}
i[name="css3"]:before {
  content: "\f13c" !important;
}
i[name="anchor"]:before {
  content: "\f13d" !important;
}
i[name="unlock-alt"]:before {
  content: "\f13e" !important;
}
i[name="bullseye"]:before {
  content: "\f140" !important;
}
i[name="ellipsis-h"]:before {
  content: "\f141" !important;
}
i[name="ellipsis-v"]:before {
  content: "\f142" !important;
}
i[name="rss-square"]:before {
  content: "\f143" !important;
}
i[name="play-circle"]:before {
  content: "\f144" !important;
}
i[name="ticket"]:before {
  content: "\f145" !important;
}
i[name="minus-square"]:before {
  content: "\f146" !important;
}
i[name="minus-square-o"]:before {
  content: "\f147" !important;
}
i[name="level-up"]:before {
  content: "\f148" !important;
}
i[name="level-down"]:before {
  content: "\f149" !important;
}
i[name="check-square"]:before {
  content: "\f14a" !important;
}
i[name="pencil-square"]:before {
  content: "\f14b" !important;
}
i[name="external-link-square"]:before {
  content: "\f14c" !important;
}
i[name="share-square"]:before {
  content: "\f14d" !important;
}
i[name="compass"]:before {
  content: "\f14e" !important;
}
i[name="toggle"]-down:before,
i[name="caret-square-o-down"]:before {
  content: "\f150" !important;
}
i[name="toggle"]-up:before,
i[name="caret-square-o-up"]:before {
  content: "\f151" !important;
}
i[name="toggle"]-right:before,
i[name="caret-square-o-right"]:before {
  content: "\f152" !important;
}
i[name="euro"]:before {
  content: "\f153" !important;
}
i[name="gbp"]:before {
  content: "\f154" !important;
}
i[name="usd"]:before {
  content: "\f155" !important;
}
i[name="inr"]:before {
  content: "\f156" !important;
}
i[name="yen"]:before {
  content: "\f157" !important;
}
i[name="rub"]:before {
  content: "\f158" !important;
}
i[name="won"]:before {
  content: "\f159" !important;
}
i[name="bitcoin"]:before {
  content: "\f15a" !important;
}
i[name="file"]:before {
  content: "\f15b" !important;
}
i[name="file-text"]:before {
  content: "\f15c" !important;
}
i[name="sort-alpha-asc"]:before {
  content: "\f15d" !important;
}
i[name="sort-alpha-desc"]:before {
  content: "\f15e" !important;
}
i[name="sort-amount-asc"]:before {
  content: "\f160" !important;
}
i[name="sort-amount-desc"]:before {
  content: "\f161" !important;
}
i[name="sort-numeric-asc"]:before {
  content: "\f162" !important;
}
i[name="sort-numeric-desc"]:before {
  content: "\f163" !important;
}
i[name="thumbs-up"]:before {
  content: "\f164" !important;
}
i[name="thumbs-down"]:before {
  content: "\f165" !important;
}
i[name="youtube-square"]:before {
  content: "\f166" !important;
}
i[name="youtube"]:before {
  content: "\f167" !important;
}
i[name="xing"]:before {
  content: "\f168" !important;
}
i[name="xing-square"]:before {
  content: "\f169" !important;
}
i[name="youtube-play"]:before {
  content: "\f16a" !important;
}
i[name="dropbox"]:before {
  content: "\f16b" !important;
}
i[name="stack-overflow"]:before {
  content: "\f16c" !important;
}
i[name="instagram"]:before {
  content: "\f16d" !important;
}
i[name="flickr"]:before {
  content: "\f16e" !important;
}
i[name="adn"]:before {
  content: "\f170" !important;
}
i[name="bitbucket"]:before {
  content: "\f171" !important;
}
i[name="bitbucket-square"]:before {
  content: "\f172" !important;
}
i[name="tumblr"]:before {
  content: "\f173" !important;
}
i[name="tumblr-square"]:before {
  content: "\f174" !important;
}
i[name="long-arrow-down"]:before {
  content: "\f175" !important;
}
i[name="long-arrow-up"]:before {
  content: "\f176" !important;
}
i[name="long-arrow-left"]:before {
  content: "\f177" !important;
}
i[name="long-arrow-right"]:before {
  content: "\f178" !important;
}
i[name="apple"]:before {
  content: "\f179" !important;
}
i[name="windows"]:before {
  content: "\f17a" !important;
}
i[name="android"]:before {
  content: "\f17b" !important;
}
i[name="linux"]:before {
  content: "\f17c" !important;
}
i[name="dribbble"]:before {
  content: "\f17d" !important;
}
i[name="skype"]:before {
  content: "\f17e" !important;
}
i[name="foursquare"]:before {
  content: "\f180" !important;
}
i[name="trello"]:before {
  content: "\f181" !important;
}
i[name="female"]:before {
  content: "\f182" !important;
}
i[name="male"]:before {
  content: "\f183" !important;
}
i[name="gittip"]:before {
  content: "\f184" !important;
}
i[name="sun-o"]:before {
  content: "\f185" !important;
}
i[name="moon-o"]:before {
  content: "\f186" !important;
}
i[name="archive"]:before {
  content: "\f187" !important;
}
i[name="bug"]:before {
  content: "\f188" !important;
}
i[name="vk"]:before {
  content: "\f189" !important;
}
i[name="weibo"]:before {
  content: "\f18a" !important;
}
i[name="renren"]:before {
  content: "\f18b" !important;
}
i[name="pagelines"]:before {
  content: "\f18c" !important;
}
i[name="stack-exchange"]:before {
  content: "\f18d" !important;
}
i[name="arrow-circle-o-right"]:before {
  content: "\f18e" !important;
}
i[name="arrow-circle-o-left"]:before {
  content: "\f190" !important;
}
i[name="toggle"]-left:before,
i[name="caret-square-o-left"]:before {
  content: "\f191" !important;
}
i[name="dot-circle-o"]:before {
  content: "\f192" !important;
}
i[name="wheelchair"]:before {
  content: "\f193" !important;
}
i[name="vimeo-square"]:before {
  content: "\f194" !important;
}
i[name="turkish"]-lira:before,
i[name="try"]:before {
  content: "\f195" !important;
}
i[name="plus-square-o"]:before {
  content: "\f196" !important;
}
i[name="space-shuttle"]:before {
  content: "\f197" !important;
}
i[name="slack"]:before {
  content: "\f198" !important;
}
i[name="envelope-square"]:before {
  content: "\f199" !important;
}
i[name="wordpress"]:before {
  content: "\f19a" !important;
}
i[name="openid"]:before {
  content: "\f19b" !important;
}
i[name="bank"]:before {
  content: "\f19c" !important;
}
i[name="mortar"]:before {
  content: "\f19d" !important;
}
i[name="yahoo"]:before {
  content: "\f19e" !important;
}
i[name="google"]:before {
  content: "\f1a0" !important;
}
i[name="reddit"]:before {
  content: "\f1a1" !important;
}
i[name="reddit-square"]:before {
  content: "\f1a2" !important;
}
i[name="stumbleupon-circle"]:before {
  content: "\f1a3" !important;
}
i[name="stumbleupon"]:before {
  content: "\f1a4" !important;
}
i[name="delicious"]:before {
  content: "\f1a5" !important;
}
i[name="digg"]:before {
  content: "\f1a6" !important;
}
i[name="pied-piper"]-square:before,
i[name="pied-piper"]:before {
  content: "\f1a7" !important;
}
i[name="pied-piper-alt"]:before {
  content: "\f1a8" !important;
}
i[name="drupal"]:before {
  content: "\f1a9" !important;
}
i[name="joomla"]:before {
  content: "\f1aa" !important;
}
i[name="language"]:before {
  content: "\f1ab" !important;
}
i[name="fax"]:before {
  content: "\f1ac" !important;
}
i[name="building"]:before {
  content: "\f1ad" !important;
}
i[name="child"]:before {
  content: "\f1ae" !important;
}
i[name="paw"]:before {
  content: "\f1b0" !important;
}
i[name="spoon"]:before {
  content: "\f1b1" !important;
}
i[name="cube"]:before {
  content: "\f1b2" !important;
}
i[name="cubes"]:before {
  content: "\f1b3" !important;
}
i[name="behance"]:before {
  content: "\f1b4" !important;
}
i[name="behance-square"]:before {
  content: "\f1b5" !important;
}
i[name="steam"]:before {
  content: "\f1b6" !important;
}
i[name="steam-square"]:before {
  content: "\f1b7" !important;
}
i[name="recycle"]:before {
  content: "\f1b8" !important;
}
i[name="car"]:before {
  content: "\f1b9" !important;
}
i[name="taxi"]:before {
  content: "\f1ba" !important;
}
i[name="tree"]:before {
  content: "\f1bb" !important;
}
i[name="spotify"]:before {
  content: "\f1bc" !important;
}
i[name="deviantart"]:before {
  content: "\f1bd" !important;
}
i[name="soundcloud"]:before {
  content: "\f1be" !important;
}
i[name="database"]:before {
  content: "\f1c0" !important;
}
i[name="file-pdf-o"]:before {
  content: "\f1c1" !important;
}
i[name="file-word-o"]:before {
  content: "\f1c2" !important;
}
i[name="file-excel-o"]:before {
  content: "\f1c3" !important;
}
i[name="file-powerpoint-o"]:before {
  content: "\f1c4" !important;
}
i[name="file-photo"]-o:before,
i[name="file-picture"]-o:before,
i[name="file-image-o"]:before {
  content: "\f1c5" !important;
}
i[name="file-zip"]-o:before,
i[name="file-archive-o"]:before {
  content: "\f1c6" !important;
}
i[name="file-sound"]-o:before,
i[name="file-audio-o"]:before {
  content: "\f1c7" !important;
}
i[name="file-movie"]-o:before,
i[name="file-video-o"]:before {
  content: "\f1c8" !important;
}
i[name="file-code-o"]:before {
  content: "\f1c9" !important;
}
i[name="vine"]:before {
  content: "\f1ca" !important;
}
i[name="codepen"]:before {
  content: "\f1cb" !important;
}
i[name="jsfiddle"]:before {
  content: "\f1cc" !important;
}
i[name="life"]:before {
  content: "\f1cd" !important;
}
i[name="circle-o-notch"]:before {
  content: "\f1ce" !important;
}
i[name="rebel"]:before {
  content: "\f1d0" !important;
}
i[name="empire"]:before {
  content: "\f1d1" !important;
}
i[name="git-square"]:before {
  content: "\f1d2" !important;
}
i[name="git"]:before {
  content: "\f1d3" !important;
}
i[name="hacker-news"]:before {
  content: "\f1d4" !important;
}
i[name="tencent-weibo"]:before {
  content: "\f1d5" !important;
}
i[name="qq"]:before {
  content: "\f1d6" !important;
}
i[name="wechat"]:before {
  content: "\f1d7" !important;
}
i[name="send"]:before {
  content: "\f1d8" !important;
}
i[name="history"]:before {
  content: "\f1da" !important;
}
i[name="circle-thin"]:before {
  content: "\f1db" !important;
}
i[name="header"]:before {
  content: "\f1dc" !important;
}
i[name="paragraph"]:before {
  content: "\f1dd" !important;
}
i[name="sliders"]:before {
  content: "\f1de" !important;
}
i[name="share-alt"]:before {
  content: "\f1e0" !important;
}
i[name="share-alt-square"]:before {
  content: "\f1e1" !important;
}
i[name="bomb"]:before {
  content: "\f1e2" !important;
}
