@neutralizer : rgba(128,128,128,0.5);
@neutralizer-l: rgba(128,128,128,0.4);
@neutralizer-ll: rgba(128,128,128,0.3);
@neutralizer-lll: rgba(128,128,128,0.2);
@neutralizer-llll: rgba(128,128,128,0.1);
@neutralizer-lllll: rgba(128,128,128,0.05);

@neutralizer-m: rgba(128,128,128,0.6);
@neutralizer-mm: rgba(128,128,128,0.7);
@neutralizer-mmm: rgba(128,128,128,0.8);
@neutralizer-mmmm: rgba(128,128,128,0.9);
@neutralizer-mmmmm: rgba(128,128,128,0.95);

/* Container */
.sp-light {


    &.sp-container {
        transform: translate(0, 5px);
        border: 0;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.27);
        border-radius: 3px;

        .sp-palette-row-initial {
        	& > *:first-child {
        		cursor: pointer;
        	}
        }
		.sp-alpha-inner {
			border: 0;

			.sp-alpha-handle {
				box-shadow: 0 0 2px;
				opacity: 1;
				border-radius: 3px;
				border: 0;
			}
		}

		.sp-palette {
			.sp-thumb-el {
				margin: 3px 3px;
				border: 0;
			}

			.sp-thumb-inner {
				border-radius: 2px;
			}

			.sp-thumb-active {
				.sp-thumb-inner {
					background-image: none;
					border: 1px solid #000
				}
			}
		}



    }

    &.sp-replacer {
        border: 0;
        background: transparent;
        color: #eee;
        vertical-align: middle;
        padding: 0;
        padding-bottom: 3px;

        overflow: visible;



        .sp-preview {
        	margin: 0;

        	border: 0;

        	border-radius: 0px;
        	overflow: hidden;

        	width: 20px;

        	border: 2px solid #fff;
        	box-shadow: 0 0 1px black;

        	&:hover {
        		.sp-preview-inner {
        			outline: 1px solid @neutralizer-l;
        			outline-offset: -1px;
        		}

        	}
        }

        .sp-dd {
        	display: none;
        }

        &:hover, 
        &.sp-active {
            border-color: #F0C49B;
            color: #111;
        }

        &.sp-disabled {
            border-color: silver;
            color: silver;
        }
    }

    .sp-dragger {
    	background: transparent;
    	border-width: 2px;
    	box-shadow: 0 0 5px;
    }


    .sp-cancel {
        color: #f99f9f !important;
    }

    button {
        border: 1px solid #F1F1F1;
    }

    .sp-input-container {}

    .sp-initial-disabled {
        .sp-input-container {}
    }

    .sp-input {
        height: 30px;
        border-radius: 2px;

        &:focus  {}
        &.sp-validation-error {}
    }

    .sp-palette-container {
        border-right: solid 1px @neutralizer-lll;
        float: right;
    }

    .sp-picker-container {
    	float: left;
    	border-left: solid 1px @neutralizer-lll;
    }

    .sp-picker-container {}

    /* Palettes */
    .sp-palette-container {}

    .sp-palette {
        .sp-thumb-el {
            &:hover {}
            .sp-thumb-active {}
        }
    }

    .sp-initial {
        border: 1px solid #F1F1F1;

        span {
            height: 28px;
        }
    }

    /* Buttons */
    .sp-button-container {}

    &.sp-replacer {}
    &.sp-dd {}
    &.sp-preview {}
}

.sp-color, .sp-hue {
    border: 1px solid #F1F1F1;
}

.sp-slider {
    
    opacity: 1;
    border: 0;
    height: 5px;
    left: 0;
    right: 0;
}
