html:not(.no-cssanimations) .will-cascade:not(.cascade) > *:not(.ignore-cascade) {
  visibility: hidden;
}
html:not(.no-cssanimations) .cascade.waiting-for-cascade > *:not(.ignore-cascade) {
  visibility: hidden;
}
html:not(.no-cssanimations) .cascade > *,
html:not(.no-cssanimations) .cascade-quick > * {
  will-change: opacity, left, transform;
  -webkit-backface-visibility: hidden;
}
html:not(.no-cssanimations) .cascade:not(.waiting-for-cascade) > *:not(.ignore-cascade) {
  -webkit-animation-name: fw-fade-right;
          animation-name: fw-fade-right;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-backface-visibility: hidden;
}
html:not(.no-cssanimations) .cascade:not(.waiting-for-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(1) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
html:not(.no-cssanimations) .cascade:not(.waiting-for-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(2) {
  -webkit-animation-delay: 160ms;
          animation-delay: 160ms;
}
html:not(.no-cssanimations) .cascade:not(.waiting-for-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(3) {
  -webkit-animation-delay: 220ms;
          animation-delay: 220ms;
}
html:not(.no-cssanimations) .cascade:not(.waiting-for-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(4) {
  -webkit-animation-delay: 280ms;
          animation-delay: 280ms;
}
html:not(.no-cssanimations) .cascade:not(.waiting-for-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(5) {
  -webkit-animation-delay: 340ms;
          animation-delay: 340ms;
}
html:not(.no-cssanimations) .cascade:not(.waiting-for-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(6) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
html:not(.no-cssanimations) .cascade:not(.waiting-for-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(7) {
  -webkit-animation-delay: 460ms;
          animation-delay: 460ms;
}
html:not(.no-cssanimations) .cascade:not(.waiting-for-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(8) {
  -webkit-animation-delay: 520ms;
          animation-delay: 520ms;
}
html:not(.no-cssanimations) .cascade:not(.waiting-for-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(9) {
  -webkit-animation-delay: 580ms;
          animation-delay: 580ms;
}
html:not(.no-cssanimations) .cascade:not(.waiting-for-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(10) {
  -webkit-animation-delay: 640ms;
          animation-delay: 640ms;
}
html:not(.no-cssanimations) .cascade:not(.waiting-for-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(11) {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}
html:not(.no-cssanimations) .cascade:not(.waiting-for-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(12) {
  -webkit-animation-delay: 760ms;
          animation-delay: 760ms;
}
html:not(.no-cssanimations) .cascade:not(.waiting-for-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(13) {
  -webkit-animation-delay: 820ms;
          animation-delay: 820ms;
}
html:not(.no-cssanimations) .cascade:not(.waiting-for-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(14) {
  -webkit-animation-delay: 880ms;
          animation-delay: 880ms;
}
html:not(.no-cssanimations) .cascade:not(.waiting-for-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(15) {
  -webkit-animation-delay: 940ms;
          animation-delay: 940ms;
}
html:not(.no-cssanimations) .cascade:not(.waiting-for-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(16) {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
html:not(.no-cssanimations) .cascade:not(.waiting-for-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(17) {
  -webkit-animation-delay: 1060ms;
          animation-delay: 1060ms;
}
html:not(.no-cssanimations) .cascade:not(.waiting-for-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(18) {
  -webkit-animation-delay: 1120ms;
          animation-delay: 1120ms;
}
html:not(.no-cssanimations) .cascade:not(.waiting-for-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(19) {
  -webkit-animation-delay: 1180ms;
          animation-delay: 1180ms;
}
html:not(.no-cssanimations) .cascade:not(.waiting-for-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(20) {
  -webkit-animation-delay: 1240ms;
          animation-delay: 1240ms;
}
html:not(.no-cssanimations) .cascade:not(.waiting-for-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(21) {
  -webkit-animation-delay: 1300ms;
          animation-delay: 1300ms;
}
html:not(.no-cssanimations) .cascade:not(.waiting-for-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(22) {
  -webkit-animation-delay: 1360ms;
          animation-delay: 1360ms;
}
html:not(.no-cssanimations) .cascade:not(.waiting-for-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(23) {
  -webkit-animation-delay: 1420ms;
          animation-delay: 1420ms;
}
html:not(.no-cssanimations) .cascade:not(.waiting-for-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(24) {
  -webkit-animation-delay: 1480ms;
          animation-delay: 1480ms;
}
html:not(.no-cssanimations) .cascade:not(.waiting-for-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(25) {
  -webkit-animation-delay: 1540ms;
          animation-delay: 1540ms;
}
html:not(.no-cssanimations) .cascade:not(.waiting-for-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(26) {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}
html:not(.no-cssanimations) .cascade:not(.waiting-for-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(27) {
  -webkit-animation-delay: 1660ms;
          animation-delay: 1660ms;
}
html:not(.no-cssanimations) .cascade:not(.waiting-for-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(28) {
  -webkit-animation-delay: 1720ms;
          animation-delay: 1720ms;
}
html:not(.no-cssanimations) .cascade:not(.waiting-for-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(29) {
  -webkit-animation-delay: 1780ms;
          animation-delay: 1780ms;
}
html:not(.no-cssanimations) .cascade:not(.waiting-for-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(30) {
  -webkit-animation-delay: 1840ms;
          animation-delay: 1840ms;
}
html:not(.no-cssanimations) .cascade-quick:not(.waiting-cascade) > *:not(.ignore-cascade) {
  -webkit-animation-name: fw-fade-right;
          animation-name: fw-fade-right;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-backface-visibility: hidden;
}
html:not(.no-cssanimations) .cascade-quick:not(.waiting-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(1) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
html:not(.no-cssanimations) .cascade-quick:not(.waiting-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(2) {
  -webkit-animation-delay: 115ms;
          animation-delay: 115ms;
}
html:not(.no-cssanimations) .cascade-quick:not(.waiting-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(3) {
  -webkit-animation-delay: 130ms;
          animation-delay: 130ms;
}
html:not(.no-cssanimations) .cascade-quick:not(.waiting-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(4) {
  -webkit-animation-delay: 145ms;
          animation-delay: 145ms;
}
html:not(.no-cssanimations) .cascade-quick:not(.waiting-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(5) {
  -webkit-animation-delay: 160ms;
          animation-delay: 160ms;
}
html:not(.no-cssanimations) .cascade-quick:not(.waiting-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(6) {
  -webkit-animation-delay: 175ms;
          animation-delay: 175ms;
}
html:not(.no-cssanimations) .cascade-quick:not(.waiting-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(7) {
  -webkit-animation-delay: 190ms;
          animation-delay: 190ms;
}
html:not(.no-cssanimations) .cascade-quick:not(.waiting-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(8) {
  -webkit-animation-delay: 205ms;
          animation-delay: 205ms;
}
html:not(.no-cssanimations) .cascade-quick:not(.waiting-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(9) {
  -webkit-animation-delay: 220ms;
          animation-delay: 220ms;
}
html:not(.no-cssanimations) .cascade-quick:not(.waiting-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(10) {
  -webkit-animation-delay: 235ms;
          animation-delay: 235ms;
}
html:not(.no-cssanimations) .cascade-quick:not(.waiting-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(11) {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}
html:not(.no-cssanimations) .cascade-quick:not(.waiting-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(12) {
  -webkit-animation-delay: 265ms;
          animation-delay: 265ms;
}
html:not(.no-cssanimations) .cascade-quick:not(.waiting-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(13) {
  -webkit-animation-delay: 280ms;
          animation-delay: 280ms;
}
html:not(.no-cssanimations) .cascade-quick:not(.waiting-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(14) {
  -webkit-animation-delay: 295ms;
          animation-delay: 295ms;
}
html:not(.no-cssanimations) .cascade-quick:not(.waiting-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(15) {
  -webkit-animation-delay: 310ms;
          animation-delay: 310ms;
}
html:not(.no-cssanimations) .cascade-quick:not(.waiting-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(16) {
  -webkit-animation-delay: 325ms;
          animation-delay: 325ms;
}
html:not(.no-cssanimations) .cascade-quick:not(.waiting-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(17) {
  -webkit-animation-delay: 340ms;
          animation-delay: 340ms;
}
html:not(.no-cssanimations) .cascade-quick:not(.waiting-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(18) {
  -webkit-animation-delay: 355ms;
          animation-delay: 355ms;
}
html:not(.no-cssanimations) .cascade-quick:not(.waiting-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(19) {
  -webkit-animation-delay: 370ms;
          animation-delay: 370ms;
}
html:not(.no-cssanimations) .cascade-quick:not(.waiting-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(20) {
  -webkit-animation-delay: 385ms;
          animation-delay: 385ms;
}
html:not(.no-cssanimations) .cascade-quick:not(.waiting-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(21) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
html:not(.no-cssanimations) .cascade-quick:not(.waiting-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(22) {
  -webkit-animation-delay: 415ms;
          animation-delay: 415ms;
}
html:not(.no-cssanimations) .cascade-quick:not(.waiting-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(23) {
  -webkit-animation-delay: 430ms;
          animation-delay: 430ms;
}
html:not(.no-cssanimations) .cascade-quick:not(.waiting-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(24) {
  -webkit-animation-delay: 445ms;
          animation-delay: 445ms;
}
html:not(.no-cssanimations) .cascade-quick:not(.waiting-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(25) {
  -webkit-animation-delay: 460ms;
          animation-delay: 460ms;
}
html:not(.no-cssanimations) .cascade-quick:not(.waiting-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(26) {
  -webkit-animation-delay: 475ms;
          animation-delay: 475ms;
}
html:not(.no-cssanimations) .cascade-quick:not(.waiting-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(27) {
  -webkit-animation-delay: 490ms;
          animation-delay: 490ms;
}
html:not(.no-cssanimations) .cascade-quick:not(.waiting-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(28) {
  -webkit-animation-delay: 505ms;
          animation-delay: 505ms;
}
html:not(.no-cssanimations) .cascade-quick:not(.waiting-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(29) {
  -webkit-animation-delay: 520ms;
          animation-delay: 520ms;
}
html:not(.no-cssanimations) .cascade-quick:not(.waiting-cascade) > *:not(.ignore-cascade):not(.ignore-cascade-delay):nth-child(30) {
  -webkit-animation-delay: 535ms;
          animation-delay: 535ms;
}
html:not(.no-cssanimations) .fade-right {
  -webkit-animation-name: fw-fade-right;
          animation-name: fw-fade-right;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
html:not(.no-cssanimations) .fade-in {
  -webkit-animation-name: fw-fade-in;
          animation-name: fw-fade-in;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
html:not(.no-cssanimations) .fade-in-quick {
  -webkit-animation-name: fw-fade-in;
          animation-name: fw-fade-in;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
html:not(.no-cssanimations) .zoom-in {
  -webkit-animation-name: fw-zoom-fade-in;
          animation-name: fw-zoom-fade-in;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
.is-animating:not(.is-not-animating) {
  -webkit-transition: 0.55s all cubic-bezier(0.1, 0.9, 0.2, 1);
  transition: 0.55s all cubic-bezier(0.1, 0.9, 0.2, 1);
}
.animating {
  -webkit-transition: 0.55s all cubic-bezier(0.1, 0.9, 0.2, 1);
  transition: 0.55s all cubic-bezier(0.1, 0.9, 0.2, 1);
}
@-webkit-keyframes fw-fade-right {
  0% {
    -webkit-transform: translate(100px, 0);
    -ms-transform: translate(100px, 0);
    transform: translate(100px, 0);
    opacity: 0;
    -webkit-animation-timing-function: cubic-bezier(0, 1, 0, 1);
            animation-timing-function: cubic-bezier(0, 1, 0, 1);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0, 1, 0, 1);
            animation-timing-function: cubic-bezier(0, 1, 0, 1);
  }
}
@keyframes fw-fade-right {
  0% {
    -webkit-transform: translate(100px, 0);
    -ms-transform: translate(100px, 0);
    transform: translate(100px, 0);
    opacity: 0;
    -webkit-animation-timing-function: cubic-bezier(0, 1, 0, 1);
            animation-timing-function: cubic-bezier(0, 1, 0, 1);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0, 1, 0, 1);
            animation-timing-function: cubic-bezier(0, 1, 0, 1);
  }
}
@-webkit-keyframes enter-animation-left {
  0% {
    -webkit-transform: translate(-100px, 0);
    -ms-transform: translate(-100px, 0);
    transform: translate(-100px, 0);
    opacity: 0;
    -webkit-animation-timing-function: cubic-bezier(0, 1, 0, 1);
            animation-timing-function: cubic-bezier(0, 1, 0, 1);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0, 1, 0, 1);
            animation-timing-function: cubic-bezier(0, 1, 0, 1);
  }
}
@keyframes enter-animation-left {
  0% {
    -webkit-transform: translate(-100px, 0);
    -ms-transform: translate(-100px, 0);
    transform: translate(-100px, 0);
    opacity: 0;
    -webkit-animation-timing-function: cubic-bezier(0, 1, 0, 1);
            animation-timing-function: cubic-bezier(0, 1, 0, 1);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0, 1, 0, 1);
            animation-timing-function: cubic-bezier(0, 1, 0, 1);
  }
}
@-webkit-keyframes fw-fade-in {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: cubic-bezier(0, 1, 0, 1);
            animation-timing-function: cubic-bezier(0, 1, 0, 1);
  }
  100% {
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0, 1, 0, 1);
            animation-timing-function: cubic-bezier(0, 1, 0, 1);
  }
}
@keyframes fw-fade-in {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: cubic-bezier(0, 1, 0, 1);
            animation-timing-function: cubic-bezier(0, 1, 0, 1);
  }
  100% {
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0, 1, 0, 1);
            animation-timing-function: cubic-bezier(0, 1, 0, 1);
  }
}
@-webkit-keyframes fw-zoom-fade-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.7, 0.7);
    -ms-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
    -webkit-animation-timing-function: cubic-bezier(0, 1, 0, 1);
            animation-timing-function: cubic-bezier(0, 1, 0, 1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-animation-timing-function: cubic-bezier(0, 1, 0, 1);
            animation-timing-function: cubic-bezier(0, 1, 0, 1);
  }
}
@keyframes fw-zoom-fade-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.7, 0.7);
    -ms-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
    -webkit-animation-timing-function: cubic-bezier(0, 1, 0, 1);
            animation-timing-function: cubic-bezier(0, 1, 0, 1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-animation-timing-function: cubic-bezier(0, 1, 0, 1);
            animation-timing-function: cubic-bezier(0, 1, 0, 1);
  }
}
.dashicons,
.dashicons-before:before {
  font-family: dashicons !important;
}
.push-effect:active {
  -webkit-transform: scale(0.98, 0.98);
  -ms-transform: scale(0.98, 0.98);
  transform: scale(0.98, 0.98);
}
.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.hover-outline {
  outline-offset: 3px;
}
.hover-outline:hover {
  outline: 2px solid rgba(128, 128, 128, 0.25);
}
.hover-outline:active {
  outline: 2px solid rgba(128, 128, 128, 0.4);
}
.focus-outline:focus {
  outline: 1px dotted;
  outline-offset: 2px;
}
.focus-outline-less:focus {
  outline: 1px dotted rgba(128, 128, 128, 0.1);
  outline-offset: 2px;
}
.d-b {
  display: block !important;
}
.d-ib {
  display: inline-block !important;
}
.d-i {
  display: inline !important;
}
.d-t {
  display: table !important;
}
.d-tc {
  display: table-cell !important;
}
.c-p {
  cursor: pointer !important;
}
.c-b {
  clear: both !important;
}
.o-v {
  overflow: visible !important;
}
.o-h {
  overflow: hidden !important;
}
.o-s {
  overflow: scroll !important;
}
.f-n {
  float: none !important;
}
.f-r {
  float: right !important;
}
.f-l {
  float: left !important;
}
.p-r {
  position: relative !important;
}
.p-a {
  position: absolute !important;
}
.p-f {
  position: fixed !important;
}
.p-s {
  position: static !important;
}
.d-n {
  display: none !important;
}
.circle {
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}
.square {
  height: 0;
  padding-bottom: 100%;
}
.hd-square {
  height: 0;
  padding-bottom: 62,5%;
}
.bg-cover {
  background-size: cover !important;
}
.bg-contain {
  background-size: contain !important;
}
.no-bg {
  background: none !important;
}
.va-t {
  vertical-align: top  !important;
}
.va-b {
  vertical-align: bottom  !important;
}
.va-m {
  vertical-align: middle  !important;
}
.v-h {
  visibility: hidden  !important;
}
.v-v {
  visibility: visible  !important;
}
.ellipsis {
  overflow: hidden  !important;
  text-overflow: ellipsis  !important;
}
.abs-full {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
}
.m-a {
  margin: auto !important;
}
.bg-fill {
  background-size: cover !important;
  background-position: center !important;
}
.bg-fixed {
  background-position: center !important;
  background-attachment: fixed !important;
}
.ls-n {
  list-style: none !important;
  padding-left: 0 !important;
}
.ws-n {
  white-space: normal !important;
}
.ws-nw {
  white-space: nowrap !important;
}
.ws-p {
  white-space: pre !important;
}
.bold {
  font-weight: 900 !important;
}
.light {
  font-weight: lighter !important;
}
.italic {
  font-style: italic !important;
}
.no-underline,
.no-underline:hover {
  text-decoration: none !important;
}
.secondary {
  opacity: 0.8 !important;
}
.tertiary {
  opacity: 0.4 !important;
}
.no-color {
  color: inherit !important;
}
.upper {
  text-transform: uppercase !important;
}
.lower {
  text-transform: lowercase !important;
}
.capital {
  text-transform: capitalize !important;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.fs-i {
  font-size: inherit;
}
.plain-list {
  list-style: none;
  padding: 0;
}
.inline-list li {
  display: inline-block;
}
.full-width {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
.w-a {
  width: auto !important;
}
.bottom-right {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.bottom-left {
  position: absolute;
  bottom: 5px;
  left: 5px;
}
.top-right {
  position: absolute;
  top: 5px;
  right: 5px;
}
.top-left {
  position: absolute;
  top: 5px;
  left: 5px;
}
.abs-center-outside {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}
.abs-center-outside .abs-center-inside {
  display: table-cell;
  vertical-align: middle;
}
.no-appearance {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  border: 0;
  color: inherit;
  background: transparent;
  outline: none;
}
.fullwidth {
  width: 100%;
}
.fullwidth-imgs img {
  width: 100%;
  height: auto;
}
.no-padding-v {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.no-pad {
  padding: 0 !important;
}
.xs-pad {
  padding: 5px !important;
}
.s-pad {
  padding: 10px !important;
}
.m-pad {
  padding: 20px !important;
}
.clear-mg {
  margin-top: 0;
  margin-bottom: 0;
}
.clear-mg > *:first-child {
  margin-top: 0 !important;
}
.clear-mg > *:last-child {
  margin-bottom: 0 !important;
}
.no-mg {
  margin: 0 !important;
}
.no-mg-b {
  margin-bottom: 0;
}
.xs-mg-b {
  margin-bottom: 5px !important;
}
.s-mg-b {
  margin-bottom: 10px !important;
}
.m-mg-b {
  margin-bottom: 20px !important;
}
.l-mg-b {
  margin-bottom: 40px !important;
}
.xl-mg-b {
  margin-bottom: 80px !important;
}
.xxl-mg-b {
  margin-bottom: 160px !important;
}
.no-mg-t {
  margin-top: 0;
}
.xs-mg-t {
  margin-top: 5px !important;
}
.s-mg-t {
  margin-top: 10px !important;
}
.m-mg-t {
  margin-top: 20px !important;
}
.l-mg-t {
  margin-top: 40px !important;
}
.xl-mg-t {
  margin-top: 80px !important;
}
.xxl-mg-t {
  margin-top: 160px !important;
}
.no-mg-l {
  margin-left: 0;
}
.xs-mg-l {
  margin-left: 5px !important;
}
.s-mg-l {
  margin-left: 10px !important;
}
.m-mg-l {
  margin-left: 20px !important;
}
.l-mg-l {
  margin-left: 40px !important;
}
.xl-mg-l {
  margin-left: 80px !important;
}
.xxl-mg-l {
  margin-left: 160px !important;
}
.no-mg-r {
  margin-right: 0;
}
.xs-mg-r {
  margin-right: 5px !important;
}
.s-mg-r {
  margin-right: 10px !important;
}
.m-mg-r {
  margin-right: 20px !important;
}
.l-mg-r {
  margin-right: 40px !important;
}
.xl-mg-r {
  margin-right: 80px !important;
}
.xxl-mg-r {
  margin-right: 160px !important;
}
.xs-pad {
  padding: 5px !important;
}
.s-pad {
  padding: 10px !important;
}
.m-pad {
  padding: 20px !important;
}
.l-pad {
  padding: 40px !important;
}
.xl-pad {
  padding: 80px !important;
}
.xs-mg {
  margin: 5px !important;
}
.s-mg {
  margin: 10px !important;
}
.m-mg {
  margin: 20px !important;
}
.l-mg {
  margin: 40px !important;
}
.xl-mg {
  margin: 80px !important;
}
.xs-pad-v {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.s-pad-v {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.m-pad-v {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.l-pad-v {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.xl-pad-v {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}
.xs-mg-v {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.s-mg-v {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.m-mg-v {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.l-mg-v {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
.xl-mg-v {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}
[fw-ajax-page] {
  -webkit-transition: 2s all cubic-bezier(0.1, 0.9, 0.2, 1);
  transition: 2s all cubic-bezier(0.1, 0.9, 0.2, 1);
  opacity: 1;
}
[fw-ajax-page].page-loading {
  opacity: 0;
}
i[class*="fw-icon-"] {
  font-family: 'iconFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  text-decoration: inherit;
  line-height: 1;
  display: inline-block;
  vertical-align: -8%;
  -webkit-font-smoothing: antialiased;
  font-size: inherit;
}
i[class*="fw-icon-"].fw-icon-choose {
  font-size: 20px;
  display: inline-block;
  padding: 10px;
  -webkit-transition: 0.2s all;
          transition: 0.2s all;
  outline: 2px solid transparent;
  outline-offset: -2px;
}
i[class*="fw-icon-"].fw-icon-choose:hover {
  outline-color: inherit;
}
i[class*="fw-icon-"].fw-icon-choose:active {
  -webkit-transform: scale(0.95, 0.95);
      -ms-transform: scale(0.95, 0.95);
          transform: scale(0.95, 0.95);
}
i[class*="fw-icon-"].smaller {
  font-size: .7em;
  vertical-align: 6%;
}
i[class*="fw-icon-"].large {
  font-size: 1.2em;
  vertical-align: -10%;
}
i.fw-icon-newspaper:before {
  content: "\e001";
}
i.fw-icon-pencil:before {
  content: "\e002";
}
i.fw-icon-droplet:before {
  content: "\e003";
}
i.fw-icon-pictures:before {
  content: "\e004";
}
i.fw-icon-camera:before {
  content: "\e005";
}
i.fw-icon-music:before {
  content: "\e006";
}
i.fw-icon-film:before {
  content: "\e007";
}
i.fw-icon-camera-2:before {
  content: "\e008";
}
i.fw-icon-spades:before {
  content: "\e009";
}
i.fw-icon-clubs:before {
  content: "\e00a";
}
i.fw-icon-diamonds:before {
  content: "\e00b";
}
i.fw-icon-broadcast:before {
  content: "\e00c";
}
i.fw-icon-mic:before {
  content: "\e00d";
}
i.fw-icon-book:before {
  content: "\e00e";
}
i.fw-icon-file:before {
  content: "\e00f";
}
i.fw-icon-new:before {
  content: "\e010";
}
i.fw-icon-copy:before {
  content: "\e011";
}
i.fw-icon-folder:before {
  content: "\e012";
}
i.fw-icon-folder-2:before {
  content: "\e013";
}
i.fw-icon-tag:before {
  content: "\e014";
}
i.fw-icon-cart:before {
  content: "\e015";
}
i.fw-icon-basket:before {
  content: "\e016";
}
i.fw-icon-calculate:before {
  content: "\e017";
}
i.fw-icon-support:before {
  content: "\e018";
}
i.fw-icon-phone:before {
  content: "\e019";
}
i.fw-icon-mail:before {
  content: "\e01a";
}
i.fw-icon-location:before {
  content: "\e01b";
}
i.fw-icon-compass:before {
  content: "\e01c";
}
i.fw-icon-history:before {
  content: "\e01d";
}
i.fw-icon-clock:before {
  content: "\e01e";
}
i.fw-icon-bell:before {
  content: "\e01f";
}
i.fw-icon-calendar:before {
  content: "\e020";
}
i.fw-icon-printer:before {
  content: "\e021";
}
i.fw-icon-mouse:before {
  content: "\e022";
}
i.fw-icon-screen:before {
  content: "\e023";
}
i.fw-icon-laptop:before {
  content: "\e024";
}
i.fw-icon-mobile:before {
  content: "\e025";
}
i.fw-icon-cabinet:before {
  content: "\e026";
}
i.fw-icon-drawer:before {
  content: "\e027";
}
i.fw-icon-drawer-2:before {
  content: "\e028";
}
i.fw-icon-box:before {
  content: "\e029";
}
i.fw-icon-box-add:before {
  content: "\e02a";
}
i.fw-icon-box-remove:before {
  content: "\e02b";
}
i.fw-icon-download:before {
  content: "\e02c";
}
i.fw-icon-upload:before {
  content: "\e02d";
}
i.fw-icon-database:before {
  content: "\e02e";
}
i.fw-icon-flip:before {
  content: "\e02f";
}
i.fw-icon-flip-2:before {
  content: "\e030";
}
i.fw-icon-undo:before {
  content: "\e031";
}
i.fw-icon-redo:before {
  content: "\e032";
}
i.fw-icon-forward:before {
  content: "\e033";
}
i.fw-icon-reply:before {
  content: "\e034";
}
i.fw-icon-reply-2:before {
  content: "\e035";
}
i.fw-icon-comments:before {
  content: "\e036";
}
i.fw-icon-comments-2:before {
  content: "\e037";
}
i.fw-icon-comments-3:before {
  content: "\e038";
}
i.fw-icon-comments-4:before {
  content: "\e039";
}
i.fw-icon-comments-5:before {
  content: "\e03a";
}
i.fw-icon-user:before {
  content: "\e03b";
}
i.fw-icon-user-2:before {
  content: "\e03c";
}
i.fw-icon-user-3:before {
  content: "\e03d";
}
i.fw-icon-busy:before {
  content: "\e03e";
}
i.fw-icon-loading:before {
  content: "\e03f";
}
i.fw-icon-loading-2:before {
  content: "\e040";
}
i.fw-icon-search:before {
  content: "\e041";
}
i.fw-icon-zoom-in:before {
  content: "\e042";
}
i.fw-icon-zoom-out:before {
  content: "\e043";
}
i.fw-icon-key:before {
  content: "\e044";
}
i.fw-icon-key-2:before {
  content: "\e045";
}
i.fw-icon-locked:before {
  content: "\e046";
}
i.fw-icon-unlocked:before {
  content: "\e047";
}
i.fw-icon-wrench:before {
  content: "\e048";
}
i.fw-icon-equalizer:before {
  content: "\e049";
}
i.fw-icon-cog:before {
  content: "\e04a";
}
i.fw-icon-pie:before {
  content: "\e04b";
}
i.fw-icon-bars:before {
  content: "\e04c";
}
i.fw-icon-stats-up:before {
  content: "\e04d";
}
i.fw-icon-gift:before {
  content: "\e04e";
}
i.fw-icon-trophy:before {
  content: "\e04f";
}
i.fw-icon-diamond:before {
  content: "\e050";
}
i.fw-icon-coffee:before {
  content: "\e051";
}
i.fw-icon-rocket:before {
  content: "\e052";
}
i.fw-icon-meter-slow:before {
  content: "\e053";
}
i.fw-icon-meter-medium:before {
  content: "\e054";
}
i.fw-icon-meter-fast:before {
  content: "\e055";
}
i.fw-icon-dashboard:before {
  content: "\e056";
}
i.fw-icon-fire:before {
  content: "\e057";
}
i.fw-icon-lab:before {
  content: "\e058";
}
i.fw-icon-remove:before {
  content: "\e059";
}
i.fw-icon-briefcase:before {
  content: "\e05a";
}
i.fw-icon-briefcase-2:before {
  content: "\e05b";
}
i.fw-icon-cars:before {
  content: "\e05c";
}
i.fw-icon-bus:before {
  content: "\e05d";
}
i.fw-icon-cube:before {
  content: "\e05e";
}
i.fw-icon-cube-2:before {
  content: "\e05f";
}
i.fw-icon-puzzle:before {
  content: "\e060";
}
i.fw-icon-glasses:before {
  content: "\e061";
}
i.fw-icon-glasses-2:before {
  content: "\e062";
}
i.fw-icon-accessibility:before {
  content: "\e063";
}
i.fw-icon-accessibility-2:before {
  content: "\e064";
}
i.fw-icon-target:before {
  content: "\e065";
}
i.fw-icon-target-2:before {
  content: "\e066";
}
i.fw-icon-lightning:before {
  content: "\e067";
}
i.fw-icon-power:before {
  content: "\e068";
}
i.fw-icon-power-2:before {
  content: "\e069";
}
i.fw-icon-clipboard:before {
  content: "\e06a";
}
i.fw-icon-clipboard-2:before {
  content: "\e06b";
}
i.fw-icon-playlist:before {
  content: "\e06c";
}
i.fw-icon-grid-view:before {
  content: "\e06d";
}
i.fw-icon-tree-view:before {
  content: "\e06e";
}
i.fw-icon-cloud:before {
  content: "\e06f";
}
i.fw-icon-cloud-2:before {
  content: "\e070";
}
i.fw-icon-download-2:before {
  content: "\e071";
}
i.fw-icon-upload-2:before {
  content: "\e072";
}
i.fw-icon-upload-3:before {
  content: "\e073";
}
i.fw-icon-link:before {
  content: "\e074";
}
i.fw-icon-link-2:before {
  content: "\e075";
}
i.fw-icon-flag:before {
  content: "\e076";
}
i.fw-icon-flag-2:before {
  content: "\e077";
}
i.fw-icon-attachment:before {
  content: "\e078";
}
i.fw-icon-eye:before {
  content: "\e079";
}
i.fw-icon-bookmark:before {
  content: "\e07a";
}
i.fw-icon-bookmark-2:before {
  content: "\e07b";
}
i.fw-icon-star:before {
  content: "\e07c";
}
i.fw-icon-star-2:before {
  content: "\e07d";
}
i.fw-icon-star-3:before {
  content: "\e07e";
}
i.fw-icon-heart:before {
  content: "\e07f";
}
i.fw-icon-heart-2:before {
  content: "\e080";
}
i.fw-icon-thumbs-up:before {
  content: "\e081";
}
i.fw-icon-thumbs-down:before {
  content: "\e082";
}
i.fw-icon-plus:before {
  content: "\e083";
}
i.fw-icon-minus:before {
  content: "\e084";
}
i.fw-icon-help:before {
  content: "\e085";
}
i.fw-icon-help-2:before {
  content: "\e086";
}
i.fw-icon-blocked:before {
  content: "\e087";
}
i.fw-icon-cancel:before {
  content: "\e088";
}
i.fw-icon-cancel-2:before {
  content: "\e089";
}
i.fw-icon-checkmark:before {
  content: "\e08a";
}
i.fw-icon-minus-2:before {
  content: "\e08b";
}
i.fw-icon-plus-2:before {
  content: "\e08c";
}
i.fw-icon-enter:before {
  content: "\e08d";
}
i.fw-icon-exit:before {
  content: "\e08e";
}
i.fw-icon-loop:before {
  content: "\e08f";
}
i.fw-icon-arrow-up-left:before {
  content: "\e090";
}
i.fw-icon-arrow-up:before {
  content: "\e091";
}
i.fw-icon-arrow-up-right:before {
  content: "\e092";
}
i.fw-icon-arrow-right:before {
  content: "\e093";
}
i.fw-icon-arrow-down-right:before {
  content: "\e094";
}
i.fw-icon-arrow-down:before {
  content: "\e095";
}
i.fw-icon-arrow-down-left:before {
  content: "\e096";
}
i.fw-icon-arrow-left:before {
  content: "\e097";
}
i.fw-icon-arrow-up-2:before {
  content: "\e098";
}
i.fw-icon-arrow-right-2:before {
  content: "\e099";
}
i.fw-icon-arrow-down-2:before {
  content: "\e09a";
}
i.fw-icon-arrow-left-2:before {
  content: "\e09b";
}
i.fw-icon-arrow-up-3:before {
  content: "\e09c";
}
i.fw-icon-arrow-right-3:before {
  content: "\e09d";
}
i.fw-icon-arrow-down-3:before {
  content: "\e09e";
}
i.fw-icon-arrow-left-3:before {
  content: "\e09f";
}
i.fw-icon-menu:before {
  content: "\e0a0";
}
i.fw-icon-enter-2:before {
  content: "\e0a1";
}
i.fw-icon-backspace:before {
  content: "\e0a2";
}
i.fw-icon-backspace-2:before {
  content: "\e0a3";
}
i.fw-icon-tab:before {
  content: "\e0a4";
}
i.fw-icon-tab-2:before {
  content: "\e0a5";
}
i.fw-icon-checkbox:before {
  content: "\e0a6";
}
i.fw-icon-checkbox-unchecked:before {
  content: "\e0a7";
}
i.fw-icon-checkbox-partial:before {
  content: "\e0a8";
}
i.fw-icon-radio-checked:before {
  content: "\e0a9";
}
i.fw-icon-radio-unchecked:before {
  content: "\e0aa";
}
i.fw-icon-font:before {
  content: "\e0ab";
}
i.fw-icon-paragraph-left:before {
  content: "\e0ac";
}
i.fw-icon-paragraph-center:before {
  content: "\e0ad";
}
i.fw-icon-paragraph-right:before {
  content: "\e0ae";
}
i.fw-icon-paragraph-justify:before {
  content: "\e0af";
}
i.fw-icon-left-to-right:before {
  content: "\e0b0";
}
i.fw-icon-right-to-left:before {
  content: "\e0b1";
}
i.fw-icon-share:before {
  content: "\e0b2";
}
i.fw-icon-new-tab:before {
  content: "\e0b3";
}
i.fw-icon-new-tab-2:before {
  content: "\e0b4";
}
i.fw-icon-embed:before {
  content: "\e0b5";
}
i.fw-icon-code:before {
  content: "\e0b6";
}
i.fw-icon-bluetooth:before {
  content: "\e0b7";
}
i.fw-icon-share-2:before {
  content: "\e0b8";
}
i.fw-icon-share-3:before {
  content: "\e0b9";
}
i.fw-icon-mail-2:before {
  content: "\e0ba";
}
i.fw-icon-google:before {
  content: "\e0bb";
}
i.fw-icon-google-plus:before {
  content: "\e0bc";
}
i.fw-icon-google-drive:before {
  content: "\e0bd";
}
i.fw-icon-facebook:before {
  content: "\e0be";
}
i.fw-icon-instagram:before {
  content: "\e0bf";
}
i.fw-icon-twitter:before {
  content: "\e0c0";
}
i.fw-icon-feed:before {
  content: "\e0c1";
}
i.fw-icon-youtube:before {
  content: "\e0c2";
}
i.fw-icon-vimeo:before {
  content: "\e0c3";
}
i.fw-icon-flickr:before {
  content: "\e0c4";
}
i.fw-icon-picassa:before {
  content: "\e0c5";
}
i.fw-icon-dribbble:before {
  content: "\e0c6";
}
i.fw-icon-deviantart:before {
  content: "\e0c7";
}
i.fw-icon-github:before {
  content: "\e0c8";
}
i.fw-icon-github-2:before {
  content: "\e0c9";
}
i.fw-icon-github-3:before {
  content: "\e0ca";
}
i.fw-icon-github-4:before {
  content: "\e0cb";
}
i.fw-icon-github-5:before {
  content: "\e0cc";
}
i.fw-icon-git:before {
  content: "\e0cd";
}
i.fw-icon-github-6:before {
  content: "\e0ce";
}
i.fw-icon-wordpress:before {
  content: "\e0cf";
}
i.fw-icon-joomla:before {
  content: "\e0d0";
}
i.fw-icon-blogger:before {
  content: "\e0d1";
}
i.fw-icon-tumblr:before {
  content: "\e0d2";
}
i.fw-icon-yahoo:before {
  content: "\e0d3";
}
i.fw-icon-amazon:before {
  content: "\e0d4";
}
i.fw-icon-tux:before {
  content: "\e0d5";
}
i.fw-icon-apple:before {
  content: "\e0d6";
}
i.fw-icon-finder:before {
  content: "\e0d7";
}
i.fw-icon-android:before {
  content: "\e0d8";
}
i.fw-icon-windows:before {
  content: "\e0d9";
}
i.fw-icon-soundcloud:before {
  content: "\e0da";
}
i.fw-icon-skype:before {
  content: "\e0db";
}
i.fw-icon-reddit:before {
  content: "\e0dc";
}
i.fw-icon-linkedin:before {
  content: "\e0dd";
}
i.fw-icon-lastfm:before {
  content: "\e0de";
}
i.fw-icon-delicious:before {
  content: "\e0df";
}
i.fw-icon-stumbleupon:before {
  content: "\e0e0";
}
i.fw-icon-pinterest:before {
  content: "\e0e1";
}
i.fw-icon-xing:before {
  content: "\e0e2";
}
i.fw-icon-flattr:before {
  content: "\e0e3";
}
i.fw-icon-foursquare:before {
  content: "\e0e4";
}
i.fw-icon-paypal:before {
  content: "\e0e5";
}
i.fw-icon-yelp:before {
  content: "\e0e6";
}
i.fw-icon-libreoffice:before {
  content: "\e0e7";
}
i.fw-icon-file-pdf:before {
  content: "\e0e8";
}
i.fw-icon-file-openoffice:before {
  content: "\e0e9";
}
i.fw-icon-file-word:before {
  content: "\e0ea";
}
i.fw-icon-file-excel:before {
  content: "\e0eb";
}
i.fw-icon-file-powerpoint:before {
  content: "\e0ec";
}
i.fw-icon-file-zip:before {
  content: "\e0ed";
}
i.fw-icon-file-xml:before {
  content: "\e0ee";
}
i.fw-icon-file-css:before {
  content: "\e0ef";
}
i.fw-icon-html5:before {
  content: "\e0f0";
}
i.fw-icon-html5-2:before {
  content: "\e0f1";
}
i.fw-icon-css3:before {
  content: "\e0f2";
}
i.fw-icon-chrome:before {
  content: "\e0f3";
}
i.fw-icon-firefox:before {
  content: "\e0f4";
}
i.fw-icon-IE:before {
  content: "\e0f5";
}
i.fw-icon-opera:before {
  content: "\e0f6";
}
i.fw-icon-safari:before {
  content: "\e0f7";
}
i.fw-icon-IcoMoon:before {
  content: "\e0f8";
}
i.fw-icon-sunrise:before {
  content: "\e0f9";
}
i.fw-icon-sun:before {
  content: "\e0fa";
}
i.fw-icon-moon:before {
  content: "\e0fb";
}
i.fw-icon-sun-2:before {
  content: "\e0fc";
}
i.fw-icon-windy:before {
  content: "\e0fd";
}
i.fw-icon-wind:before {
  content: "\e0fe";
}
i.fw-icon-snowflake:before {
  content: "\e0ff";
}
i.fw-icon-cloudy:before {
  content: "\e100";
}
i.fw-icon-cloud-3:before {
  content: "\e101";
}
i.fw-icon-weather:before {
  content: "\e102";
}
i.fw-icon-weather-2:before {
  content: "\e103";
}
i.fw-icon-weather-3:before {
  content: "\e104";
}
i.fw-icon-lines:before {
  content: "\e105";
}
i.fw-icon-cloud-4:before {
  content: "\e106";
}
i.fw-icon-lightning-2:before {
  content: "\e107";
}
i.fw-icon-lightning-3:before {
  content: "\e108";
}
i.fw-icon-rainy:before {
  content: "\e109";
}
i.fw-icon-rainy-2:before {
  content: "\e10a";
}
i.fw-icon-windy-2:before {
  content: "\e10b";
}
i.fw-icon-windy-3:before {
  content: "\e10c";
}
i.fw-icon-snowy:before {
  content: "\e10d";
}
i.fw-icon-snowy-2:before {
  content: "\e10e";
}
i.fw-icon-snowy-3:before {
  content: "\e10f";
}
i.fw-icon-weather-4:before {
  content: "\e110";
}
i.fw-icon-cloudy-2:before {
  content: "\e111";
}
i.fw-icon-cloud-5:before {
  content: "\e112";
}
i.fw-icon-lightning-4:before {
  content: "\e113";
}
i.fw-icon-sun-3:before {
  content: "\e114";
}
i.fw-icon-moon-2:before {
  content: "\e115";
}
i.fw-icon-cloudy-3:before {
  content: "\e116";
}
i.fw-icon-cloud-6:before {
  content: "\e117";
}
i.fw-icon-cloud-7:before {
  content: "\e118";
}
i.fw-icon-lightning-5:before {
  content: "\e119";
}
i.fw-icon-rainy-3:before {
  content: "\e11a";
}
i.fw-icon-rainy-4:before {
  content: "\e11b";
}
i.fw-icon-windy-4:before {
  content: "\e11c";
}
i.fw-icon-windy-5:before {
  content: "\e11d";
}
i.fw-icon-snowy-4:before {
  content: "\e11e";
}
i.fw-icon-snowy-5:before {
  content: "\e11f";
}
i.fw-icon-weather-5:before {
  content: "\e120";
}
i.fw-icon-cloudy-4:before {
  content: "\e121";
}
i.fw-icon-lightning-6:before {
  content: "\e122";
}
i.fw-icon-thermometer:before {
  content: "\e123";
}
i.fw-icon-compass-2:before {
  content: "\e124";
}
i.fw-icon-none:before {
  content: "\e125";
}
i.fw-icon-Celsius:before {
  content: "\e126";
}
i.fw-icon-Fahrenheit:before {
  content: "\e127";
}
i.fw-icon-forrst:before {
  content: "\e128";
}
i.fw-icon-headphones:before {
  content: "\e129";
}
i.fw-icon-bug:before {
  content: "\e12a";
}
i.fw-icon-cart-2:before {
  content: "\e12b";
}
i.fw-icon-earth:before {
  content: "\e12c";
}
i.fw-icon-battery:before {
  content: "\e12d";
}
i.fw-icon-list:before {
  content: "\e12e";
}
i.fw-icon-grid:before {
  content: "\e12f";
}
i.fw-icon-alarm:before {
  content: "\e130";
}
i.fw-icon-location-2:before {
  content: "\e131";
}
i.fw-icon-pointer:before {
  content: "\e132";
}
i.fw-icon-diary:before {
  content: "\e133";
}
i.fw-icon-eye-2:before {
  content: "\e134";
}
i.fw-icon-console:before {
  content: "\e135";
}
i.fw-icon-location-3:before {
  content: "\e136";
}
i.fw-icon-move:before {
  content: "\e137";
}
i.fw-icon-gift-2:before {
  content: "\e138";
}
i.fw-icon-monitor:before {
  content: "\e139";
}
i.fw-icon-mobile-2:before {
  content: "\e13a";
}
i.fw-icon-switch:before {
  content: "\e13b";
}
i.fw-icon-star-4:before {
  content: "\e13c";
}
i.fw-icon-address-book:before {
  content: "\e13d";
}
i.fw-icon-shit:before {
  content: "\e13e";
}
i.fw-icon-cone:before {
  content: "\e13f";
}
i.fw-icon-credit-card:before {
  content: "\e140";
}
i.fw-icon-type:before {
  content: "\e141";
}
i.fw-icon-volume:before {
  content: "\e142";
}
i.fw-icon-volume-2:before {
  content: "\e143";
}
i.fw-icon-locked-2:before {
  content: "\e144";
}
i.fw-icon-warning:before {
  content: "\e145";
}
i.fw-icon-info:before {
  content: "\e146";
}
i.fw-icon-filter:before {
  content: "\e147";
}
i.fw-icon-bookmark-3:before {
  content: "\e148";
}
i.fw-icon-bookmark-4:before {
  content: "\e149";
}
i.fw-icon-stats:before {
  content: "\e14a";
}
i.fw-icon-compass-3:before {
  content: "\e14b";
}
i.fw-icon-keyboard:before {
  content: "\e14c";
}
i.fw-icon-award-fill:before {
  content: "\e14d";
}
i.fw-icon-award-stroke:before {
  content: "\e14e";
}
i.fw-icon-beaker-alt:before {
  content: "\e14f";
}
i.fw-icon-beaker:before {
  content: "\e150";
}
i.fw-icon-move-vertical:before {
  content: "\e151";
}
i.fw-icon-move-horizontal:before {
  content: "\e152";
}
i.fw-icon-steering-wheel:before {
  content: "\e153";
}
i.fw-icon-volume-3:before {
  content: "\e154";
}
i.fw-icon-volume-mute:before {
  content: "\e155";
}
i.fw-icon-play:before {
  content: "\e156";
}
i.fw-icon-pause:before {
  content: "\e157";
}
i.fw-icon-stop:before {
  content: "\e158";
}
i.fw-icon-eject:before {
  content: "\e159";
}
i.fw-icon-first:before {
  content: "\e15a";
}
i.fw-icon-last:before {
  content: "\e15b";
}
i.fw-icon-play-alt:before {
  content: "\e15c";
}
i.fw-icon-battery-charging:before {
  content: "\e160";
}
i.fw-icon-left-quote:before {
  content: "\e161";
}
i.fw-icon-right-quote:before {
  content: "\e162";
}
i.fw-icon-left-quote-alt:before {
  content: "\e163";
}
i.fw-icon-right-quote-alt:before {
  content: "\e164";
}
i.fw-icon-smiley:before {
  content: "\e165";
}
i.fw-icon-umbrella:before {
  content: "\e166";
}
i.fw-icon-info-2:before {
  content: "\e167";
}
i.fw-icon-chart-alt:before {
  content: "\e168";
}
i.fw-icon-at:before {
  content: "\e169";
}
i.fw-icon-hash:before {
  content: "\e16a";
}
i.fw-icon-pilcrow:before {
  content: "\e16b";
}
i.fw-icon-fullscreen-alt:before {
  content: "\e16c";
}
i.fw-icon-fullscreen-exit-alt:before {
  content: "\e16d";
}
i.fw-icon-layers-alt:before {
  content: "\e16e";
}
i.fw-icon-layers:before {
  content: "\e16f";
}
i.fw-icon-floppy:before {
  content: "\e170";
}
i.fw-icon-rainbow:before {
  content: "\e000";
}
i.fw-icon-air:before {
  content: "\e171";
}
i.fw-icon-home:before {
  content: "\e172";
}
i.fw-icon-spin:before {
  content: "\e173";
}
i.fw-icon-auction:before {
  content: "\e174";
}
i.fw-icon-dollar:before {
  content: "\e175";
}
i.fw-icon-dollar-2:before {
  content: "\e176";
}
i.fw-icon-coins:before {
  content: "\e177";
}
i.fw-icon-file-2:before {
  content: "\e186";
}
i.fw-icon-file-3:before {
  content: "\e187";
}
i.fw-icon-file-4:before {
  content: "\e188";
}
i.fw-icon-files:before {
  content: "\e189";
}
i.fw-icon-phone-2:before {
  content: "\e18a";
}
i.fw-icon-tablet:before {
  content: "\e18b";
}
i.fw-icon-monitor-2:before {
  content: "\e18c";
}
i.fw-icon-window:before {
  content: "\e18d";
}
i.fw-icon-tv:before {
  content: "\e18e";
}
i.fw-icon-camera-3:before {
  content: "\e18f";
}
i.fw-icon-image:before {
  content: "\e190";
}
i.fw-icon-open:before {
  content: "\e191";
}
i.fw-icon-sale:before {
  content: "\e192";
}
i.fw-icon-direction:before {
  content: "\e193";
}
i.fw-icon-medal:before {
  content: "\e194";
}
i.fw-icon-medal-2:before {
  content: "\e195";
}
i.fw-icon-satellite:before {
  content: "\e196";
}
i.fw-icon-discout:before {
  content: "\e197";
}
i.fw-icon-barcode:before {
  content: "\e198";
}
i.fw-icon-ticket:before {
  content: "\e199";
}
i.fw-icon-shipping:before {
  content: "\e19a";
}
i.fw-icon-globe:before {
  content: "\e19b";
}
i.fw-icon-anchor:before {
  content: "\e19c";
}
i.fw-icon-pop-out:before {
  content: "\e19d";
}
i.fw-icon-pop-in:before {
  content: "\e19e";
}
i.fw-icon-resize:before {
  content: "\e178";
}
i.fw-icon-battery-2:before {
  content: "\e179";
}
i.fw-icon-battery-3:before {
  content: "\e17a";
}
i.fw-icon-battery-4:before {
  content: "\e17b";
}
i.fw-icon-battery-5:before {
  content: "\e17c";
}
i.fw-icon-tools:before {
  content: "\e17d";
}
i.fw-icon-alarm-2:before {
  content: "\e17e";
}
i.fw-icon-alarm-cancel:before {
  content: "\e17f";
}
i.fw-icon-alarm-clock:before {
  content: "\e180";
}
i.fw-icon-chronometer:before {
  content: "\e181";
}
i.fw-icon-ruler:before {
  content: "\e182";
}
i.fw-icon-lamp:before {
  content: "\e183";
}
i.fw-icon-lamp-2:before {
  content: "\e184";
}
i.fw-icon-scissors:before {
  content: "\e185";
}
i.fw-icon-volume-4:before {
  content: "\e19f";
}
i.fw-icon-volume-5:before {
  content: "\e1a0";
}
i.fw-icon-volume-6:before {
  content: "\e1a1";
}
i.fw-icon-battery-full:before {
  content: "\e15f";
}
i.fw-icon-battery-empty:before {
  content: "\e15d";
}
i.fw-icon-battery-half:before {
  content: "\e15e";
}
i.fw-icon-zip:before {
  content: "\e1a2";
}
i.fw-icon-zip-2:before {
  content: "\e1a3";
}
i.fw-icon-play-2:before {
  content: "\e1a4";
}
i.fw-icon-pause-2:before {
  content: "\e1a5";
}
i.fw-icon-record:before {
  content: "\e1a6";
}
i.fw-icon-stop-2:before {
  content: "\e1a7";
}
i.fw-icon-next:before {
  content: "\e1a8";
}
i.fw-icon-previous:before {
  content: "\e1a9";
}
i.fw-icon-first-2:before {
  content: "\e1aa";
}
i.fw-icon-last-2:before {
  content: "\e1ab";
}
i.fw-icon-arrow-left-4:before {
  content: "\e1ac";
}
i.fw-icon-arrow-down-4:before {
  content: "\e1ad";
}
i.fw-icon-arrow-up-4:before {
  content: "\e1ae";
}
i.fw-icon-arrow-right-4:before {
  content: "\e1af";
}
i.fw-icon-arrow-left-5:before {
  content: "\e1b0";
}
i.fw-icon-arrow-down-5:before {
  content: "\e1b1";
}
i.fw-icon-arrow-up-5:before {
  content: "\e1b2";
}
i.fw-icon-arrow-right-5:before {
  content: "\e1b3";
}
i.fw-icon-cc:before {
  content: "\e1b4";
}
i.fw-icon-cc-by:before {
  content: "\e1b5";
}
i.fw-icon-cc-nc:before {
  content: "\e1b6";
}
i.fw-icon-cc-nc-eu:before {
  content: "\e1b7";
}
i.fw-icon-cc-nc-jp:before {
  content: "\e1b8";
}
i.fw-icon-cc-sa:before {
  content: "\e1b9";
}
i.fw-icon-cc-nd:before {
  content: "\e1ba";
}
i.fw-icon-cc-pd:before {
  content: "\e1bb";
}
i.fw-icon-cc-zero:before {
  content: "\e1bc";
}
i.fw-icon-cc-share:before {
  content: "\e1bd";
}
i.fw-icon-cc-share-2:before {
  content: "\e1be";
}
i.fw-icon-cycle:before {
  content: "\e1bf";
}
i.fw-icon-stop-3:before {
  content: "\e1c0";
}
i.fw-icon-stats-2:before {
  content: "\e1c1";
}
i.fw-icon-stats-3:before {
  content: "\e1c2";
}
.fw-modal-container {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
}
.fw-modal-container .fw-modal {
  padding: 20px;
  background: #fff;
  margin: 40px auto;
  max-width: 1000px;
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
  bottom: 0;
  overflow-y: auto;
}
.fw-modal-container .fw-modal .fw-modal-title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 20px;
}
.fw-modal-container .fw-modal .fw-modal-close-btn {
  position: absolute;
  text-decoration: none;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  z-index: 1000;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
.fw-modal-container .fw-modal .fw-modal-close-btn:before {
  content: '\f158';
  font: 400 20px/1 dashicons;
  speak: none;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fw-modal-container .fw-modal .fw-modal-close-btn:hover {
  color: #2ea2cc;
}
.fw-modal-container .fw-modal .fw-modal-close-btn:active {
  color: #2581a2;
}
[fw-ajax-page] {
  -webkit-transition: 0.2s opacity ease-out;
          transition: 0.2s opacity ease-out;
}
[fw-ajax-page][page-loading] {
  opacity: 0;
}
.fw-loader {
  width: 40px;
  height: 40px;
  background-color: #333;
  vertical-align: middle;
  display: inline-block;
  border-radius: 100%;
  -webkit-animation: scaleout 1s infinite ease-in-out;
  animation: scaleout 1s infinite ease-in-out;
}
.fw-loader.fw-loader-center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}
.fw-loader.fw-loader-inline {
  width: 1em;
  height: 1em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes scaleout {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
.ab-icon.ab-icon-fw:before {
  top: 2px;
}
.ab-submenu .ab-icon.ab-icon-fw:before {
  color: inherit !important;
}
.ab-submenu .ab-icon.ab-icon-fw {
  font-size: inherit !important;
}
